$colors: (
  common: (
    "white": #FFFFFF,
    "black": #000000,
    "placeholder": #767676,
    "selection": #3C66FA,
  ),
  color: (
    "white" : #fff,
  ),
  body: (
    "primary": #121212,
    "primary-2": #161616,
    "primary-3": #2E2828,
    "primary-5": #13161C,
  ),
  theme: (
    "primary": #FFCD4D, 
    "primary-2": #21A56E, 
    "primary-3": #C9F31D, 
    "primary-5": #FF6A3A, 
  ),
  heading: (
    "primary": #FFFFFF, 
  ),
  text: (
    "body": #C0C0C0,
    "body-2": #999999,
  ),
  menu: (
    "white": #FFFFFF,
  )
);