// $colors: (
//   common: (
//     "white": #FFFFFF,
//     "black": #000000,
//     "placeholder": #4A5764,
//   ),
//   body: (
//     "primary": #fff,
//   ),
//   theme: (
//     "primary": #FFDA59,
//   ),
//   heading: (
//     "primary": #453030,
//   ),
//   text: (
//     "body": rgb(5 5 19 / 60%),
//     "primary": #151515,
//   ),
//   shadow: (
//       "primary": 0px 30px 60px 0px rgba(0, 15, 32, 0.10),
//   ),
//   background: (
//       "hero-2-bg": #EEEEEE,
//       "body-bg": #F6F0E9,
//   ),
//   border: (
//     "primary": 1px solid rgba(5, 5, 19, 0.14),
//   )
// );


$colors: (
  common: (
    "white": #FFFFFF,
    "black": #000000,
    "placeholder": #767676,
    "selection": #3C66FA,
  ),
  color: (
    "white" : #fff,
  ),
  body: (
    "primary": #121212,
  ),
  theme: (
    "primary": #FFCD4D, 
    "primary-2": #21A56E, 
    // "secondary": #FF9D24,
  ),
  heading: (
    "primary": #FFFFFF, 
  ),
  text: (
    "body": #C0C0C0,
    "body-2": #999999,
  ),
  menu: (
    // "primary": #050505,
    "white": #FFFFFF,
  )
);