// Font family -----


//  Oak Sans / 
@font-face {
    font-family: "Oak Sans";
    src: url("../fonts/OakSans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Oak Sans";
    src: url("../fonts/OakSans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Oak Sans";
    src: url("../fonts/OakSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Oak Sans";
    src: url("../fonts//OakSans-Light.ttf");
    font-weight: 300;
}

//  HKGrotesk / 
@font-face {
    font-family: "HK Grotesk";
    src: url("../fonts/HKGrotesk-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "HK Grotesk";
    src: url("../fonts/HKGrotesk-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "HK Grotesk";
    src: url("../fonts/HKGrotesk-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "HK Grotesk";
    src: url("../fonts/HKGrotesk-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "HK Grotesk";
    src: url("../fonts/HKGrotesk-Light.ttf");
    font-weight: 300;
}

// home 4 font 
@font-face {
    font-family: "Founders_Grotesk";
    src: url("../fonts/FoundersGrotesk-Regular.otf");
    font-weight: 400;
}

// home 4 font 
@font-face {
    font-family: "Founders_Grotesk";
    src: url("../fonts/FoundersGrotesk-Light.otf");
    font-weight: 300;
}

// home 5 font 
@font-face {
    font-family: "Antonio-Regular";
    src: url("../fonts/Antonio-Regular.ttf");
    font-weight: 400;
}

// font family
$font-family: (
    ff: ("body": "Oak Sans",
        "heading": "HK Grotesk",
        "heading-2": "Founders_Grotesk",
        "heading-3": "Antonio-Regular",
        "fontawesome": '"Font Awesome 6 Pro"',
    )
);



// font weight
$font-scale: (
    fw: ("normal": normal,
        "thin": 100,
        "elight": 200,
        "light": 300,
        "regular": 400,
        "medium": 500,
        "sbold": 600,
        "bold": 700,
        "ebold": 800,
        "black": 900,
    )
);

// font size
$font-size: (
    fs: ("body": 18px,
        "body2": 18px,
        "p": 18px,
        "h1": 70px,
        "h2": 100px,
        "h3": 90px,
        "h4": 24px,
        "h5": 20px,
        "h6": 15px,
    ),
    lh: ("body": 28px,
        "body2": 28px,
        "p": 24px,
        "h1": 72px,
        "h2": 105px,
        "h3": 100px,
        "h4": 28px,
        "h5": 32px,
        "h6": 30px,
    )
);