@use '../../utils' as *;

/*----------------------------------------*/
/*  6.2 footer-2
/*----------------------------------------*/

// footer-section-2
.footer-section-2 {
    &__title {
        font-weight: 500;
        font-size: 250px;
        line-height: 250px;
        text-align: center;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$lg} {
            font-size: 190px;
            line-height: 210px;
        }

        @media #{$md} {
            font-size: 160px;
            line-height: 160px;
        }

        @media #{$sm} {
            font-size: 130px;
            line-height: 130px;
        }

        @media #{$xs} {
            font-size: 70px;
            line-height: 70px;
        }
    }

    .footer-section {
        &__dec {
            margin-top: 45px;
            margin-bottom: 55px;

            @media #{$lg,$md} {
                br {
                    display: block;
                }
            }

            @media #{$xs} {
                margin-top: 30px;
                margin-bottom: 40px;
            }
        }

        &__form {
            max-width: 445px;
            margin: 0 auto;
            margin-bottom: 45px;

            button {
                &:hover {
                    color: var(--rr-theme-primary-2);
                }
            }
        }
    }

    &__social {
        display: flex;
        column-gap: 40px;
        align-items: center;
        justify-content: center;

        a {
            color: var(--rr-text-body);

            &:hover {
                color: var(--rr-theme-primary-2);
            }
        }
    }
}



// footer section 4 ==========
.footer-4 {
    &__address {
        &__wrap {
            display: flex;
            gap: 20px 88px;
            flex-wrap: wrap;
            margin-bottom: 0;
            align-items: start;

            a {
                background: linear-gradient(var(--rr-common-white) 0%, var(--rr-common-white) 100%);
                background-size: 0% 1px;
                background-repeat: no-repeat;
                background-position: left 100%;
                &:hover{
                    background-size: 100% 1px;
                }
            }
        }
    }

    &__address {
        font-family: var(--rr-ff-body);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.50;
        color: var(--rr-text-body-2);
        margin: 0;

        a {
            &:hover {
                color: var(--rr-color-white);
            }
        }
    }

    &__contact {
        &__info {
            gap: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }


    &__btn {
        margin: 0 0 0 10px;

        @media #{$xs} {
            margin: 0;
        }
    }

    &__call {
        &__wrapper {
            text-align: end;

            @media #{$md,$sm,$xs} {
                text-align: start;
            }

            a {
                font-family: var(--rr-ff-heading-2);
                font-weight: 300;
                font-size: 30px;
                line-height: 1.33;
                color: var(--rr-color-white);
                position: relative;

                &:hover {
                    opacity: .6;

                    &::after {
                        width: 0%;
                    }
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: var(--rr-color-white);
                    position: absolute;
                    left: 0;
                    bottom: 7px;
                    transition: all .3s ease-in-out;
                }

            }

            a:last-child {
                margin-top: 20px;
                display: block;
                position: relative;
                display: inline-block;

                &:hover {
                    &::after {
                        width: 0%;
                    }
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: var(--rr-color-white);
                    position: absolute;
                    left: 0;
                    bottom: 13px;
                }

                @media #{$mxm} {
                    margin-top: 0px;
                }
            }
        }
    }

    &__text {
        margin-top: 40px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        .swiper {
            .swiper-wrapper {
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;

                .swiper-slide {
                    width: auto;
                }
            }
        }
    }

    &__big {
        &__text {
            font-size: 300px;
            line-height: 1;
            font-weight: 400;
            margin-bottom: 0;
            padding-top: 100px;
            transform: translateX(80px);
            color: var(--rr-color-white);
            font-family: var(--rr-ff-heading-2);

            @media #{$lg} {
                font-size: 190px;
            }

            @media #{$md} {
                font-size: 200px;
                padding-top: 80px;
            }

            @media #{$sm} {
                font-size: 150px;
                padding-top: 80px;
            }

            @media #{$xs} {
                font-size: 100px;
                padding-top: 50px;
            }
        }
    }

    &__cpyright {
        &__area {
            padding: 30px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);

            h6 {
                margin: 0;
                font-weight: 300;
                font-size: 24px;
                line-height: 1;
                color: var(--rr-text-body-2);
                font-family: var(--rr-ff-body);

                @media #{$xs} {
                    font-size: 16px;
                    margin: 0 auto;
                }

                a {
                    &:hover {
                        color: var(--rr-color-white);
                    }
                }
            }
        }
    }

}



// footer-section-5
.footer-section-5 {
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;

        @media #{$sm} {
            flex-wrap: wrap;
        }

        @media #{$xs} {
            display: block;
        }
    }

    &__left {
        display: flex;
        align-items: start;
        column-gap: 90px;

        @media #{$md} {
            column-gap: 30px;
        }

        @media #{$xs} {
            display: block;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 26px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);
    }

    &__info {
        @media #{$xs} {
            margin-bottom: 30px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        a {
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            color: var(--rr-text-body-2);
            font-family: var(--rr-ff-body);
            background: linear-gradient(var(--rr-theme-primary-5) 0%, var(--rr-theme-primary-5) 100%);
            background-size: 0% 1px;
            background-repeat: no-repeat;
            background-position: left 90%;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-size: 100% 1px;
                color: var(--rr-theme-primary-5);
            }
        }
    }

    &__contact {
        display: flex;
        width: 699px;
        margin-bottom: 45px;
        align-items: center;
        padding-bottom: 15px;
        justify-content: space-between;
        border-bottom: 1px solid rgb(255 255 255 / 10%);

        @media #{$xl} {
            width: 600px;
        }

        @media #{$lg} {
            width: 410px;
        }

        @media #{$md} {
            width: 300px;
        }

        @media #{$sm,$xs} {
            width: 470px;
            margin-top: 40px;
        }

        @media #{$xs} {
            width: 100%;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        span {
            font-weight: 300;
            font-size: 18px;
            line-height: 1;
            transform: translateY(5px);
            color: var(--rr-common-white);
            font-family: var(--rr-ff-body);
        }

        a {
            font-weight: 400;
            font-size: 30px;
            line-height: 1;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading-3);

            &:hover {
                color: var(--rr-theme-primary-5);
            }
        }
    }
}

// copyright-section-5
.copyright-section-5 {
    &__area {
        padding: 33.5px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        @media #{$xs} {
            padding: 20px 0;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$md,$sm,$xs} {
            flex-wrap: wrap;
        }

        @media #{$sm,$xs} {
            justify-content: center;
        }
    }

    &__dec {
        font-weight: 300;
        font-size: 18px;
        line-height: 1;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-body);

        a:hover {
            color: var(--rr-theme-primary-5);
        }
    }

    &__social {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media #{$sm,$xs} {
            margin: 15px 0;
            justify-content: center;
        }

        @media #{$xs} {
            gap: 10px;
        }

        a {
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
            padding: 6.5px 19px;
            display: inline-block;
            border-radius: 100px;
            color: var(--rr-text-body-2);
            font-family: var(--rr-ff-heading);
            border: 1px solid rgb(255 255 255 / 5%);

            &:hover {
                color: var(--rr-common-white);
                border-color: var(--rr-theme-primary-5);
                background-color: var(--rr-theme-primary-5);
            }
        }
    }

    &__menu {
        a {
            font-weight: 300;
            font-size: 18px;
            line-height: 1;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-body);

            &:hover {
                color: var(--rr-theme-primary-5);
            }
        }
    }
}