@use '../../utils' as *;

/*----------------------------------------*/
/*  6.2 footer-2
/*----------------------------------------*/


.footer-section-2 {
    &__title {
        font-weight: 500;
        font-size: 250px;
        line-height: 250px;
        text-align: center;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$lg} {
            font-size: 210px;
            line-height: 210px;
        }

        @media #{$md} {
            font-size: 160px;
            line-height: 160px;
        }

        @media #{$sm} {
            font-size: 130px;
            line-height: 130px;
        }

        @media #{$xs} {
            font-size: 70px;
            line-height: 70px;
        }
    }

    .footer-section {
        &__dec {
            margin-top: 45px;
            margin-bottom: 55px;

            @media #{$lg,$md} {
                br {
                    display: block;
                }
            }

            @media #{$xs} {
                margin-top: 30px;
                margin-bottom: 40px;
            }
        }

        &__form {
            max-width: 445px;
            margin: 0 auto;
            margin-bottom: 45px;

            button {
                &:hover {
                    color: var(--rr-theme-primary-2);
                }
            }
        }
    }

    &__social {
        display: flex;
        column-gap: 40px;
        align-items: center;
        justify-content: center;

        a {
            color: var(--rr-text-body);

            &:hover {
                color: var(--rr-theme-primary-2);
            }
        }
    }
}


