@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 footer
/*----------------------------------------*/


.footer-section {
    &__logo {
        img {
            max-width: 101px;
        }
    }

    &__dec {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-top: 45px;
        margin-bottom: 55px;
        font-family: var(--rr-ff-body);

        @media #{$lg,$md,$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__form {
        position: relative;
        border-bottom: 1px solid rgb(217 217 217 / 10%);

        input {
            background: transparent;
            border: none;
            padding: 0;
            margin-bottom: 22px;

            @include rs-placeholder {
                font-size: 18px;
                font-weight: 400;
                line-height: 1;
                color: var(--rr-text-body);
                font-family: var(--rr-ff-body);
            }
        }

        button {
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
            color: #FFFFFF;
            right: 0;
            top: 5px;
            position: absolute;
            font-family: var(--rr-ff-heading);

            &:hover {
                color: var(--rr-theme-primary);
            }
        }
    }

    .section-title {
        &__wrapper {
            margin-bottom: 150px;

            @media #{$md} {
                margin-bottom: 80px;
            }

            @media #{$sm,$xs} {
                margin-bottom: 70px;
            }
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 70px;

        @media #{$sm} {
            margin-bottom: 50px;
        }

        @media #{$xs} {
            margin-bottom: 30px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 22px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-heading);
    }

    &__map {
        a {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: var(--rr-text-body);
            font-family: var(--rr-ff-body);
            background: linear-gradient(var(--rr-text-body) 0%, var(--rr-text-body) 100%);
            background-size: 100% 1px;
            background-repeat: no-repeat;
            background-position: left 100%;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-size: 0 1px;
                color: var(--rr-theme-primary);
            }

            @media #{$xs} {
                margin-right: 22px;
            }

            @media #{$md} {
                font-size: 16px;
            }
        }
    }

    &__social {
        a {
            font-size: 18px;
            font-weight: 500;
            line-height: 1;
            margin-right: 37px;
            display: inline-block;
            text-transform: capitalize;
            font-family: var(--rr-ff-heading);
            color: var(--rr-text-body);
            background: linear-gradient(var(--rr-text-body) 0%, var(--rr-text-body) 100%);
            background-size: 100% 1px;
            background-repeat: no-repeat;
            background-position: left 100%;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-size: 0 1px;
                color: var(--rr-theme-primary);
            }

            @media #{$md} {
                margin-right: 20px;
            }

            @media #{$xs} {
                margin-right: 22px;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &__wedget {
        &.wedget_1 {
            margin-right: 115px;

            @media #{$xl} {
                margin-right: 80px;
            }

            @media #{$lg} {
                margin-right: 30px;
            }

            @media #{$md,$sm,$xs} {
                margin-right: 0px;
            }
        }

        &.wedget_2 {
            margin-left: 150px;

            @media #{$xl} {
                margin-left: 80px;
            }

            @media #{$lg} {
                margin-left: 30px;
            }

            @media #{$md,$sm,$xs} {
                margin-left: 0px;
            }

            @media #{$sm,$xs} {
                margin-top: 30px;
            }
        }
    }
}

.copyright {
    margin-top: -2px;

    &__wrapper {
        background: #1B1B1B;
        padding: 36.5px 0;

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            font-family: var(--rr-ff-body);

            a {
                text-decoration-line: underline;

                &:hover {
                    color: var(--rr-theme-primary);
                }
            }
        }
    }
}










// footer-3 -----------------------------------------
.cta-section {
    background-color: var(--rr-body-primary-2);
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 75px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    &__title {
        font-weight: 500;
        font-size: 65px;
        line-height: 70px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$md,$sm,$xs} {
            margin-bottom: 20px;
        }

        @media #{$xs} {
            font-size: 40px;
            line-height: 40px;

            br {
                display: none;
            }
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 40px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$xs} {
            br {
                display: none;
            }
        }
    }
}

.footer-section-3 {
    background-color: var(--rr-body-primary-2);

    .footer-section {
        &__wedget {
            &.wedget_1 {
                margin-right: 208px;

                @media #{$xl} {
                    margin-right: 155px;
                }

                @media #{$lg} {
                    margin-right: 75px;
                }

                @media #{$md,$sm,$xs} {
                    margin-right: 0px;
                }
            }
        }

        &__content {
            @media #{$xs} {
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__form {
            border-bottom: none;

            input {
                height: 70px;
                padding: 0 35px;
                margin-bottom: 0;
                border-radius: 100px;
                border: 1px solid rgb(37, 37, 37);

                @include rs-placeholder {
                    color: var(--rr-common-white);
                }
            }

            button {
                top: 50%;
                right: 35px;
                transform: translateY(-50%);
                transition: all 0.3s ease-in-out;

                &:hover {
                    svg [fill="white"] {
                        fill: var(--rr-theme-primary-3);
                    }
                }
            }
        }

        &__map {
            a {

                &:hover {
                    color: var(--rr-theme-primary-3);
                }
            }
        }

        &__social {
            a {

                &:hover {
                    color: var(--rr-theme-primary-3);
                }
            }
        }
    }
}

.copyright-3 {
    background-color: var(--rr-body-primary-2);

    .copyright {
        &__wrapper p {
            font-weight: 500;
            font-size: 138px;
            line-height: 138px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading);
            background: linear-gradient(180deg, #949494 -46.43%, #161616 117.14%);
            -webkit-text-fill-color: transparent;
            background-clip: text;

            @media #{$xl} {
                font-size: 120px;
            }

            @media #{$lg} {
                font-size: 100px;
            }

            @media #{$md} {
                font-size: 75px;
                line-height: 75px;
            }

            @media #{$sm} {
                font-size: 60px;
                line-height: 60px;
            }

            @media #{$xs} {
                font-size: 34px;
                line-height: 1;
            }

            a {
                text-decoration: none;
            }
        }

        &__wrapper {
            background: transparent;
            padding-bottom: 50px;

            @media #{$md,$sm,$xs} {
                padding-top: 0;
            }

            @media #{$xs} {
                padding-bottom: 45px;
            }
        }
    }
}