@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 footer
/*----------------------------------------*/

// footer-section-1 -------------------------
.footer-section {
    &__logo {
        img {
            max-width: 101px;
        }
    }

    &__dec {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-top: 45px;
        margin-bottom: 55px;
        font-family: var(--rr-ff-body);

        @media #{$lg,$md,$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__form {
        position: relative;
        border-bottom: 1px solid rgb(217 217 217 / 10%);

        input {
            background: transparent;
            border: none;
            padding: 0;
            margin-bottom: 22px;
            padding-right: 95px;

            @include rs-placeholder {
                font-size: 18px;
                font-weight: 400;
                line-height: 1;
                color: var(--rr-text-body);
                font-family: var(--rr-ff-body);
            }

            &:focus {
                -webkit-transition: background-color 0s 600000s, color 0s 600000s !important;
                transition: background-color 0s 600000s, color 0s 600000s !important;
            }
        }

        button {
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
            color: #FFFFFF;
            right: 0;
            top: 5px;
            position: absolute;
            font-family: var(--rr-ff-heading);

            &:hover {
                color: var(--rr-theme-primary);
            }
        }
    }

    .section-title {
        &__wrapper {
            margin-bottom: 150px;

            @media #{$md} {
                margin-bottom: 80px;
            }

            @media #{$sm,$xs} {
                margin-bottom: 70px;
            }
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 70px;

        @media #{$sm} {
            margin-bottom: 50px;
        }

        @media #{$xs} {
            margin-bottom: 30px;
            display: block;
        }
    }

    &__content {
        @media #{$xs} {
            margin-bottom: 40px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 22px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-heading);
    }

    &__map {
        a {
            font-size: 18px;
            font-weight: 300;
            line-height: 27px;
            color: var(--rr-text-body);
            font-family: var(--rr-ff-body);
            background: linear-gradient(var(--rr-theme-primary) 0%, var(--rr-theme-primary) 100%);
            background-size: 0 1px;
            background-repeat: no-repeat;
            background-position: left 100%;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-size: 100% 1px;
                color: var(--rr-theme-primary);
            }

            @media #{$xs} {
                margin-right: 22px;
            }

            @media #{$md} {
                font-size: 16px;
            }
        }
    }

    &__social {
        a {
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            margin-right: 37px;
            display: inline-block;
            text-transform: capitalize;
            font-family: var(--rr-ff-heading);
            color: var(--rr-text-body);
            background: linear-gradient(var(--rr-theme-primary) 0%, var(--rr-theme-primary) 100%);
            background-size: 0 1px;
            background-repeat: no-repeat;
            background-position: left 100%;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-size: 100% 1px;
                color: var(--rr-theme-primary);
            }

            @media #{$md} {
                margin-right: 20px;
            }

            @media #{$xs} {
                margin-right: 22px;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &__wedget {
        &.wedget_1 {
            margin-right: 115px;

            @media #{$xl} {
                margin-right: 80px;
            }

            @media #{$lg} {
                margin-right: 30px;
            }

            @media #{$md,$sm,$xs} {
                margin-right: 0px;
            }
        }

        &.wedget_2 {
            margin-left: 150px;

            @media #{$xl} {
                margin-left: 80px;
            }

            @media #{$lg} {
                margin-left: 30px;
            }

            @media #{$md,$sm,$xs} {
                margin-left: 0px;
            }

            @media #{$sm,$xs} {
                margin-top: 30px;
            }
        }
    }
}


// footer-3 -------------------------------
.footer-section-3 {
    background-color: var(--rr-body-primary-2);

    .footer-section {
        &__wedget {
            &.wedget_1 {
                margin-right: 208px;

                @media #{$xl} {
                    margin-right: 155px;
                }

                @media #{$lg} {
                    margin-right: 75px;
                }

                @media #{$md,$sm,$xs} {
                    margin-right: 0px;
                }
            }
        }

        &__content {
            @media #{$xs} {
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__dec {
            margin-top: 45px;
            margin-bottom: 43px;
        }

        &__form {
            border-bottom: none;

            input {
                height: 70px;
                padding: 0 35px;
                padding-right: 60px;
                margin-bottom: 0;
                border-radius: 100px;
                border: 1px solid rgb(37, 37, 37);

                @include rs-placeholder {
                    color: var(--rr-common-white);
                }

                &:focus {
                    -webkit-transition: background-color 0s 600000s, color 0s 600000s !important;
                    transition: background-color 0s 600000s, color 0s 600000s !important;
                }
            }

            button {
                top: 50%;
                right: 35px;
                transform: translateY(-50%);
                transition: all 0.3s ease-in-out;

                &:hover {
                    svg [fill="white"] {
                        fill: var(--rr-theme-primary-3);
                    }
                }
            }
        }

        &__map {
            a {

                &:hover {
                    color: var(--rr-theme-primary-3);
                }
            }
        }

        &__social {
            a {

                &:hover {
                    color: var(--rr-theme-primary-3);
                }
            }
        }
    }
}