
@use '../utils' as *;

/*---------------------------------
	1.8 spacing
---------------------------------*/

.section-space {
	padding-top: 180px;
	padding-bottom: 180px;

	@media #{$md} {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	@media #{$sm,$xs} {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.section-space-top {
	padding-top: 120px;

	@media #{$md} {
		padding-top: 80px;
	}

	@media #{$sm,$xs} {
		padding-top: 70px;
	}
}

.section-space-bottom {
	padding-bottom: 120px;

	@media #{$md} {
		padding-bottom: 80px;
	}

	@media #{$sm,$xs} {
		padding-bottom: 70px;
	}
}

.section-space-top-100 {
	padding-top: 100px;

	@media #{$md} {
		padding-top: 80px;
	}

	@media #{$sm,$xs} {
		padding-top: 70px;
	}
}
.section-space-bottom-100 {
	padding-bottom: 100px;

	@media #{$md} {
		padding-bottom: 80px;
	}

	@media #{$sm,$xs} {
		padding-bottom: 70px;
	}
}

.section-space-top-180 {
	padding-top: 180px;

	@media #{$md} {
		padding-top: 80px;
	}

	@media #{$sm,$xs} {
		padding-top: 70px;
	}
}

.section-space-bottom-180 {
	padding-bottom: 180px;

	@media #{$md} {
		padding-bottom: 80px;
	}

	@media #{$sm,$xs} {
		padding-bottom: 70px;
	}
}

.section-space-top-150 {
	padding-top: 150px;

	@media #{$md} {
		padding-top: 80px;
	}

	@media #{$sm,$xs} {
		padding-top: 70px;
	}
}

.section-space-bottom-150 {
	padding-bottom: 150px;

	@media #{$md} {
		padding-bottom: 80px;
	}

	@media #{$sm,$xs} {
		padding-bottom: 70px;
	}
}
.section-space-top-160 {
	padding-top: 160px;

	@media #{$md} {
		padding-top: 80px;
	}

	@media #{$sm,$xs} {
		padding-top: 70px;
	}
}
.section-space-bottom-160 {
	padding-bottom: 160px;

	@media #{$md} {
		padding-bottom: 80px;
	}

	@media #{$sm,$xs} {
		padding-bottom: 70px;
	}
}

.breadcrumb-space-top{
	padding-top: 260px;
}