@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1 banner Style 1
/*----------------------------------------*/



// banner-section
.banner-section-space {
    padding-top: 205px;
    padding-bottom: 100px;

    @media #{$md} {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    @media #{$sm,$xs} {
        padding-top: 140px;
        padding-bottom: 70px;
    }
}

.banner-section {
    position: relative;
    z-index: 1;

    &__title {
        font-size: 120px;
        font-weight: 600;
        line-height: 120px;
        margin-bottom: 15px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$xl} {
            font-size: 100px;
            line-height: 100px;
        }

        @media #{$lg} {
            font-size: 80px;
            line-height: 80px;
        }

        @media #{$md} {
            font-size: 65px;
            line-height: 75px;

            br {
                display: none;
            }
        }

        @media #{$sm} {
            font-size: 45px;
            line-height: 55px;

            br {
                display: none;
            }
        }

        @media #{$xs} {
            font-size: 35px;
            line-height: 50px;

            br {
                display: none;
            }
        }

        img {
            width: inherit;
            margin: 0 10px;

            @media #{$sm} {
                width: 7%;
                margin: 0 5px;
            }

            @media #{$xs} {
                width: 12%;
            }
        }
    }

    &__dec {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 35px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$sm,$xs} {
            margin-bottom: 15px;

            br {
                display: none;
            }
        }
    }

    &__circle {
        left: 50px;
        top: 38%;
        position: absolute;

        @media #{$xxxl,$xxl,$xl} {
            top: 70%;
        }

        @media #{$lg} {
            top: 62%;
        }

        @media #{$md} {
            top: 65%;
        }

        .text {
            .image_1 {
                animation: animationglob 5s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
            }

            .image_2 {
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__btn {
        .rr-arrow {
            &__btn {
                &::before {
                    bottom: -4px;
                }

                &::after {
                    bottom: -4px;
                }
            }
        }
    }
}