@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 banner Style 1
/*----------------------------------------*/





.banner-section-space-2 {
    padding-top: 90px;
}

.banner-section-2 {
    &__wrapper {
        margin: 0 50px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-top: none;
        position: relative;
        z-index: 1;

        @media #{$xl,$lg} {
            margin: 0 20px;
        }
        @media #{$md,$sm,$xs} {
            margin: 0;
            border: none;
        }

        @media #{$sm,$xs} {
            display: block;
        }
    }

    &__left {
        min-width: 345px;
        text-align: center;
        border-right: 1px solid rgb(255 255 255 / 10%);

        @media #{$xl,$lg} {
            min-width: 250px;
        }

        &__shape {
            border-top: 1px solid rgb(255 255 255 / 10%);

            img {
                width: inherit;

            }
        }
    }

    &__count {
        padding-top: 120px;
        margin-top: 100px;
        border-top: 1px solid rgb(255 255 255 / 10%);

        h4 {
            font-weight: 600;
            font-size: 65px;
            line-height: 1;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading);

            .odometer.odometer-auto-theme,
            .odometer.odometer-theme-default {
                font-family: var(--rr-ff-heading);
                line-height: 1.1;
            }
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: var(--rr-text-body);
            font-family: var(--rr-ff-body);
        }
    }

    &__circle {
        &__text {
            max-width: 149px;
            max-height: 152px;
            margin: 0 auto;
            margin-top: 85px;
            margin-bottom: 125px;
            position: relative;

            @media #{$lg} {
                margin-bottom: 110px;
            }

            >img {
                width: inherit;
                animation: animationglob 10s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                img {
                    width: inherit;

                }
            }
        }
    }


    &__content {
        margin-top: 190px;
        padding-top: 115px;
        width: 100%;
        border-top: 1px solid rgb(255 255 255 / 10%);

        @media #{$xl,$lg,$md,$sm,$xs} {
            width: inherit;
        }

        @media #{$md} {
            padding-top: 70px;
        }

        @media #{$sm,$xs} {
            margin-top: 0px;
            padding-top: 140px;
            margin-bottom: 30px;
        }
    }

    &__review {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 80px;
        line-height: 100px;
        text-align: center;
        margin-bottom: 55px;
        text-transform: uppercase;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media (min-width: 1700px) and (max-width: 1800px) {
            font-size: 70px;
        }

        @media #{$xxxl} {
            font-size: 60px;
            line-height: 80px;
        }

        @media #{$xxl,$xl,$lg,$md,$sm,$xs} {
            font-size: 65px;
            line-height: 85px;

            br {
                display: none;
            }
        }

        @media #{$xl} {
            font-size: 63px;
            line-height: 80px;
        }

        @media #{$lg} {
            font-size: 47px;
            line-height: 65px;
        }

        @media #{$md} {
            font-size: 45px;
            line-height: 65px;
        }

        @media #{$xs} {
            font-size: 35px;
            line-height: 55px;
            margin-bottom: 30px;
        }

        img {
            width: inherit;
            animation: animationglob 10s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;

            @media #{$lg,$xs} {
                width: 10%;
            }
        }
    }

    &__review {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(255 255 255 / 10%);
        border-top: 1px solid rgb(255 255 255 / 10%);
        padding-top: 35px;
        padding-bottom: 35px;

        @media #{$xs} {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &__left {
            margin-right: 40px;
            padding-right: 40px;
            position: relative;
            text-align: start;

            @media #{$xs} {
                margin-right: 15px;
                padding-right: 15px;
            }

            &::after {
                content: "";
                width: 1px;
                height: 44px;
                position: absolute;
                right: 0;
                top: 0;
                background-color: rgba(255, 255, 255, 0.1);
                bottom: 0;
                margin: auto;
            }

            span {
                font-weight: 500;
                font-size: 20px;
                line-height: 1;
                color: var(--rr-common-white);
                font-family: var(--rr-ff-body);

                i {
                    color: #FFCD4D;
                    font-size: 13px;
                    margin-right: 5px;
                }
            }

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: var(--rr-common-white);
                font-family: var(--rr-ff-body);
            }
        }

        &__right {
            span {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: var(--rr-common-white);
                font-family: var(--rr-ff-body);

                i {
                    font-size: 13px;
                    margin-right: 5px;
                    color: var(--rr-common-white);
                }
            }

            div {
                i {
                    width: 22px;
                    height: 22px;
                    background: #21A56E;
                    color: #fff;
                    font-size: 12px;
                    border-radius: 2px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    &__right {
        min-width: 345px;
        margin-top: 5px;
        text-align: center;
        border-left: 1px solid rgb(255 255 255 / 10%);

        @media #{$xl,$lg} {
            min-width: 250px;
        }

        @media #{$sm,$xs} {
            min-width: 100%;
            border: none;
            padding-top: 0;
        }

        &__shape {
            margin: 0 auto;
            margin-bottom: 130px;
            border-bottom: 1px solid rgb(255 255 255 / 10%);

            @media #{$md} {
                margin-bottom: 80px;
            }

            img {
                width: inherit;
            }
        }

        &__content {
            margin: 0 auto;
            text-align: start;
            width: fit-content;

            @media #{$xl,$lg,$md,$sm,$xs} {
                min-width: inherit;
                text-align: center;
            }
        }
    }

    &__video {
        max-width: 272px;
        max-height: 162px;
        margin: 0 auto;
        position: relative;

        @media #{$sm,$xs} {
            max-width: 100%;
            max-height: 100%;
        }

        #myVideo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__play {
        a {
            width: 70px;
            height: 70px;
            border: 1.5px solid var(--rr-text-body);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-top: 50px;
        margin-bottom: 35px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$xl,$lg,$md,$sm,$xs} {
            br {
                display: none;
            }
        }

        @media #{$sm,$xs} {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        column-gap: 25px;
        flex-wrap: wrap;
        margin-top: 127px;
        padding: 33px 0;
        justify-content: center;
        border-top: 1px solid rgb(255 255 255 / 10%);

        @media #{$xl,$lg} {
            column-gap: 20px;
        }

        @media #{$md} {
            margin-top: 115px;
        }

        @media #{$sm,$xs} {
            margin-top: 30px;
            padding: 25px 0;
        }

        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: var(--rr-text-body);
            font-family: var(--rr-ff-body);
        }

        a {
            color: var(--rr-text-body);

            &:hover {
                color: var(--rr-theme-primary);
            }
        }
    }

    &__ster {
        position: absolute;
        animation: animationglob 10s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;

        &__shape-1 {
            top: 175px;
            left: 337px;
        }

        &__shape-2 {
            top: 175px;
            right: 338px;
        }

        &__shape-3 {
            bottom: 82px;
            left: 337px;
        }

        &__shape-4 {
            bottom: 83px;
            right: 338px;
        }
    }
}



@keyframes animationglob {

    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}