@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 blog
/*----------------------------------------*/

// blog-section
.blog-section {
    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 155px;
        margin-bottom: 80px;

        @media #{$md,$sm,$xs} {
            justify-content: start;
            margin-bottom: 50px;
        }

        &__content {
            padding-left: 40px;
            border-left: 1px solid rgb(217 217 217 / 10%);

            @media #{$md,$sm,$xs} {
                padding-left: 0;
                border-left: none;
                margin-top: 30px;
            }
        }

        &__dec {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            margin-bottom: 35px;
            color: var(--rr-text-body);
            font-family: var(--rr-ff-body);

            @media #{$md,$sm,$xs} {
                br {
                    display: none;
                }
            }
        }
    }

    &__meta {
        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 20px;
            display: inline-block;
            color: var(--rr-text-body);
            font-family: var(--rr-ff-body);
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$xl,$lg,$md,$xs} {
            br {
                display: none;
            }
        }

        @media #{$lg} {
            font-size: 25px;
            line-height: 33px;
        }

        a:hover {
            color: var(--rr-theme-primary);
        }

        span {
            font-weight: 300;
            font-style: italic;
        }
    }

    &__thumb {
        width: 220px;
        height: 273px;

        @media #{$xl,$lg,$md} {
            min-width: 220px;
        }

        @media #{$xs} {
            width: 100%;
            height: 100%;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: 40px;
        padding: 50px 0;
        border-top: 1px solid rgb(217 217 217 / 10%);
        border-bottom: 1px solid rgb(217 217 217 / 10%);

        @media #{$lg} {
            column-gap: 30px;
        }

        @media #{$xs} {
            display: block;
            padding: 30px 0;
        }

        &.item_2 {
            margin-left: 98px;

            @media #{$xl} {
                margin-left: 50px;
            }

            @media #{$lg} {
                margin-left: 30px;
            }

            @media #{$md,$sm,$xs} {
                margin-left: 0px;
                border-top: none
            }
        }

        &__wrapper {
            padding-right: 124px;
            margin-right: -4px;
            border-right: 1px solid rgba(217, 217, 217, 0.1);

            @media #{$md,$sm,$xs} {
                border-right: none;
                padding-right: 0;
                margin-right: 0;
            }

            @media #{$xl} {
                padding-right: 75px;
                margin-right: 0px;
            }

            @media #{$lg} {
                padding-right: 30px;
                margin-right: 0px;
            }
        }
    }

    .section-title {
        &__wrapper {
            margin-bottom: 0;
        }
    }
}

// blog-2  ----------------------------------
.blog-section-2 {
    background-color: var(--rr-body-primary-2);

    &__top {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 65px;

        @media #{$sm,$xs} {
            display: block;
        }

        .section-title {
            &__wrapper {
                margin-bottom: 0;
            }
        }

        &__content {
            .rr-arrow__btn-2 {
                color: var(--rr-text-body-2);
            }
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 32px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-body);

        @media #{$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__thumb {
        margin-bottom: 25px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &__meta {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        margin-top: 16px;
        margin-bottom: 32px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$xl,$md} {
            font-size: 28px;
        }

        @media #{$lg} {
            font-size: 24px;
            line-height: 30px;
        }

        @media #{$sm} {
            font-size: 20px;
            line-height: 26px;
        }

        @media #{$xs} {
            font-size: 23px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        a:hover {
            color: var(--rr-theme-primary-2);
        }
    }

    &__btn {
        .arrow__btn {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            position: relative;
            color: var(--rr-text-body);
            font-family: var(--rr-ff-body);

            &::before {
                content: "";
                width: 100%;
                height: 1px;
                bottom: -5px;
                left: 0;
                position: absolute;
                transition: all 0.3s ease-in-out;
                background-color: rgba(217, 217, 217, 0.1);
            }

            svg {
                margin-left: 10px;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                color: var(--rr-common-white);

                &::before {
                    background-color: var(--rr-common-white);
                }

                svg [fill="#C0C0C0"] {
                    fill: var(--rr-common-white);
                }
            }
        }
    }
}

// blog-section-3
.blog-section-3 {
    background-color: var(--rr-body-primary);

    .blog-section-2 {
        &__wrapper {
            margin-right: 80px;

            @media #{$md,$sm,$xs} {
                margin-right: 0px;
            }
        }
    }

    &__page {
        &__number {
            list-style: none;
            display: flex;
            align-items: center;
            column-gap: 30px;

            .page {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                color: var(--rr-common-white);
                font-family: var(--rr-ff-heading);

            }

            .active,
            .next-btn {
                width: 50px;
                height: 50px;
                border-radius: 100px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(255, 255, 255, 0.05);
            }
        }
    }
}


// blog-5 ----------------------------
.blog-5 {
    &__top {
        display: flex;
        align-items: end;
        justify-content: space-between;

        @media #{$xs} {
            flex-wrap: wrap;
        }
    }

    &__btn {
        .rr-btn-group {
            @media #{$xs} {
                margin-top: 20px;
            }

            >*:nth-child(1) {
                color: var(--rr-common-white);
                background-color: var(--rr-theme-primary-5);
            }

            >*:nth-child(2) {
                padding: 18.5px 46.9px;
                color: var(--rr-common-white);
                background-color: var(--rr-theme-primary-5);
            }

            &:hover {
                >*:nth-child(2) {
                    transform: scale3d(1, 1, 1);
                    color: var(--rr-body-primary-3);
                    background-color: var(--rr-common-white);
                }

                >*:nth-child(3) {
                    color: var(--rr-body-primary-3);
                    background-color: var(--rr-common-white);
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: start;
        position: relative;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        @media #{$sm,$xs} {
            flex-wrap: wrap;
        }
    }

    &__item {
        @media #{$sm} {
            width: 95%;
        }

        &__wrap {
            padding: 60px 0;
            margin-right: 68px;
            padding-right: 68px;
            border-right: 1px solid rgba(255, 255, 255, 0.1);

            @media #{$xxl} {
                margin-right: 50px;
                padding-right: 50px;
            }

            @media #{$xl} {
                margin-right: 40px;
                padding-right: 40px;
            }

            @media #{$lg} {
                padding: 50px 0;
                margin-right: 30px;
                padding-right: 30px;
            }

            @media #{$md} {
                padding: 30px 0;
                margin-right: 20px;
                padding-right: 20px;
            }

            @media #{$sm,$xs} {
                padding: 30px 0;
                margin-right: 0px;
                padding-right: 0px;
                border-right: none;
            }

            @media #{$sm} {
                width: 50%;
            }

            &:last-of-type {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
            }
        }
    }

    &__thumb {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__date {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-top: 30px;
        margin-bottom: 17px;
        display: inline-block;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media #{$lg,$xs} {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        @media #{$md,$xs} {
            font-size: 15px;
            line-height: 1;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 38px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);

        @media #{$xxxl,$xxl} {
            font-size: 35px;
            line-height: 40px;
        }

        @media #{$xl} {
            font-size: 30px;
            line-height: 40px;
        }

        @media #{$lg,$sm,$xs} {
            font-size: 26px;
            line-height: 35px;
            margin-bottom: 25px;
        }

        @media #{$sm} {
            font-size: 24px;
        }

        @media #{$md} {
            font-size: 21px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        @media #{$lg,$md,$sm,$xs} {
            br {
                display: none;
            }
        }

        a:hover {
            color: var(--rr-theme-primary-5);
        }
    }

    &__arrow__btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-body);
        background: linear-gradient(var(--rr-common-white) 0%, var(--rr-common-white) 100%);
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: left 100%;
        transition: all 0.3s ease-in-out;

        i {
            font-size: 13px;
            margin-left: 10px;
            font-weight: 400;
            transform: rotate(-45deg);
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            background-size: 0% 1px;
            color: var(--rr-theme-primary-5);

            i {
                transform: rotate(0deg);
            }
        }
    }
}