@use '../../utils' as *;

/*----------------------------------------*/
/*  7.1 cta
/*----------------------------------------*/


// cta-section-1
.cta-section {
    background-color: var(--rr-body-primary-2);

    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 72px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    &__title {
        font-weight: 500;
        font-size: 65px;
        line-height: 70px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$md,$sm,$xs} {
            margin-bottom: 20px;
        }

        @media #{$xs} {
            font-size: 40px;
            line-height: 40px;

            br {
                display: none;
            }
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 40px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$xs} {
            br {
                display: none;
            }
        }
    }
}



// cta section 4 =============
.cta-section-4 {
    &__thumb-title {
        font-size: 30px;
        line-height: 1.17;
        font-weight: 400;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
        max-width: 600px;

        @media #{$xs} {
            font-size: 20px;
        }

        &::before {
            content: "";
            width: 18px;
            height: 18px;
            border-radius: 50%;
            margin-right: 10px;
            display: inline-block;
            background-color: var(--rr-color-white);
        }
    }

    &__thumb {
        overflow: hidden;
        margin-top: 73px;
        border-radius: 5px;
        display: inline-block;

        img {
            max-width: 100%;
        }

        @media #{$lg,$md,$sm,$xs} {
            margin-top: 40px;
        }
    }

    &__title {
        text-align: right;
        font-size: 80px;
        font-weight: 400;
        line-height: 1;
        color: var(--rr-color-white);
        font-family: var(--rr-ff-heading-2);

        br {
            @media #{$md,$sm,$xs} {
                display: none;
            }
        }

        @media #{$xxxl,$xxl} {
            font-size: 70px;
        }

        @media #{$xl,$sm,$xs} {
            font-size: 40px;
        }

        @media #{$lg,$md,$sm} {
            margin-top: 70px;
        }

        @media #{$xs} {
            text-align: center;
            margin-top: 70px;
        }
    }

    &__btn__wrap {
        display: flex;
        justify-content: end;

        @media #{$xs} {
            justify-content: center;
        }
    }

    &__btn {
        border: 1.5px solid var(--rr-color-white);
        border-radius: 1000px;
        width: 346px;
        height: 127px;
        display: grid;
        place-items: center;
        margin-top: 20px;

        @media #{$xl,$lg,$sm,$xs} {
            width: 286px;
            height: 100px;
        }

        @media #{$xs} {
            width: 240px;
            height: 70px;
        }

        &:hover {

            .rr-btn-cus-big {
                span {
                    &::after {
                        width: 0;
                    }
                }
            }
        }

        .rr-btn-cus-big {
            display: flex;
            align-items: center;
            gap: 15px;

            span {
                font-family: var(--rr-ff-body);
                font-weight: 500;
                font-size: 30px;
                line-height: .9;
                text-decoration-skip-ink: none;
                color: var(--rr-color-white);
                position: relative;

                @media #{$xs} {
                    font-size: 23px;
                }

                &::after {
                    content: "";
                    left: 0;
                    height: 1.5px;
                    width: 100%;
                    bottom: -2px;
                    position: absolute;
                    transition: all 0.3s ease-in-out;
                    background-color: var(--rr-color-white);
                }
            }
        }
    }
}



// cta-section-5
.cta-section-5 {
    &__content {
        max-width: 1300px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 40px;
        margin-bottom: -275px;
        position: relative;
        z-index: 1;

        @media #{$xl} {
            max-width: 1000px;
            margin-bottom: -200px;
        }

        @media #{$lg,$md,$sm} {
            max-width: 850px;
            margin-bottom: -150px;
        }
        @media #{$xs} {
            margin-bottom: 0px;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 120px;
        line-height: 1;
        display: inline-block;
        text-align: center;
        transform: translateY(-17px);
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);

        @media #{$xl} {
            font-size: 100px;
        }

        @media #{$lg,$md} {
            font-size: 70px;
            transform: translateY(-10px);
        }
        @media #{$sm} {
            font-size: 65px;
            transform: translateY(-8px);
        }
        @media #{$xs} {
            font-size: 38px;
            transform: translateY(-5px);
            br{
                display: none;
            }
        }

        .rr-btn-group {
            display: inline-flex;
            margin-bottom: -25px;
            transform: translateY(-45px);

            @media #{$lg,$md} {
                transform: translateY(-25px);
            }
            @media #{$sm} {
                transform: translateY(-22px);
            }
            @media #{$xs} {
                display: none;
            }

            >*:nth-child(2) {
                padding: 18.5px 32.4px;
                display: inline-block;
            }
        }
    }

    &__thumb {
        width: 100%;
        height: 670px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media #{$xl} {
            height: 500px;
        }
        @media #{$lg} {
            height: 450px;
        }
        @media #{$md} {
            height: 400px;
        }
        @media #{$sm} {
            height: 350px;
        }
        @media #{$xs} {
            height: 300px;
        }
    }
}