@use '../../utils' as *;

/*----------------------------------------*/
/*  7.1 cta
/*----------------------------------------*/



.cta-section {
    background-color: var(--rr-body-primary-2);

    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 72px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    &__title {
        font-weight: 500;
        font-size: 65px;
        line-height: 70px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$md,$sm,$xs} {
            margin-bottom: 20px;
        }

        @media #{$xs} {
            font-size: 40px;
            line-height: 40px;

            br {
                display: none;
            }
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 40px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$xs} {
            br {
                display: none;
            }
        }
    }
}




.cta-section-5 {
    &__content {
        max-width: 1300px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 40px;
        margin-bottom: -275px;
        position: relative;
    }

    &__title {
        font-weight: 400;
        font-size: 120px;
        line-height: 120px;
        display: inline-block;
        text-align: center;
        transform: translateY(-17px);
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);

        .rr-btn-group {
            display: inline-flex;
            margin-bottom: -25px;
            transform: translateY(-45px);

            >*:nth-child(2) {
                padding: 18.5px 32.4px;
                display: inline-block;
            }
        }
    }
}