@use "../../utils" as *;



// about-section
.about-section {
    &__thumb {
        text-align: end;
        margin-right: 80px;

        @media #{$md} {
            margin-right: 40px;
        }

        @media #{$sm,$xs} {
            margin-right: 0;
            text-align: center;
            margin-bottom: 30px;
        }

        img {
            width: initial;
            height: 100%;
            object-fit: cover;

            @media #{$sm,$xs} {
                width: 100%;
            }
        }
    }

    &__content {
        margin-left: -30px;

        @media #{$sm,$xs} {
            margin-left: 0;
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 500;
        line-height: 30px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$xs} {
            font-size: 22px;
            line-height: 28px;
        }

        @media #{$lg,$md,$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__dec {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-top: 20px;
        margin-bottom: 42px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$lg,$md,$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        column-gap: 35px;
        flex-wrap: wrap;

        .rr-btn {
            @media #{$xs} {
                margin-bottom: 15px;
            }
        }

        .rr-arrow__btn {
            &::before {
                bottom: -4px;
            }

            &::after {
                bottom: -4px;
            }
        }
    }

    .section-title {
        &__wrapper {
            margin-bottom: 85px;
            margin-left: 190px;

            @media #{$md,$sm,$xs} {
                margin-bottom: 40px;
            }

            @media #{$lg,$md,$sm,$xs} {
                margin-left: 0;
            }

            .section {
                &__title {
                    @media #{$xs} {
                        font-size: 28px;
                        line-height: 37px;
                    }

                    span {
                        @media #{$xs} {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}


// about-2 --------------
.about-section-2 {
    position: relative;

    &__count__wrap {
        @media #{$md,$sm,$xs} {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    &__count {
        width: 428px;
        height: 428px;
        border: 1px solid rgb(255 255 255 / 10%);
        border-radius: 500px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @media #{$lg} {
            width: 350px;
            height: 350px;
        }

        @media #{$xs} {
            width: 230px;
            height: 230px;
        }

        h4 {
            font-weight: 300;
            font-style: italic;
            font-size: 120px;
            line-height: 1;
            letter-spacing: 2px;
            margin-bottom: 5px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading);

            .odometer.odometer-auto-theme,
            .odometer.odometer-theme-default {
                font-family: var(--rr-ff-heading);
                line-height: 1;
            }

            @media #{$xs} {
                font-size: 70px;
            }
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
            text-transform: capitalize;
            color: var(--rr-text-body);
            font-family: var(--rr-ff-body);
        }
    }

    &__wrapper {
        margin-left: 55px;

        @media #{$xl,$lg,$md,$sm,$xs} {
            margin-left: 0;
        }

        .section-title {
            &__wrapper {
                margin-bottom: 38px;

                .section__title {
                    @media #{$xl,$lg} {
                        font-size: 60px;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__content {
        margin-left: 135px;

        @media #{$md,$sm,$xs} {
            margin-left: 0;
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 42px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$md,$sm,$xs} {
            margin-bottom: 30px;

            br {
                display: none;
            }
        }
    }

    &__shape {
        &-1 {
            position: absolute;
            bottom: 240px;
            left: 755px;

            @media #{$xxxl,$xxl} {
                left: 600px;
            }

            @media #{$xl} {
                left: 450px;
            }

            @media #{$lg} {
                bottom: 270px;
                left: 400px;
            }

            @media #{$md} {
                bottom: auto;
                left: auto;
                top: 450px;
                right: 100px;
            }
        }

        &-2 {
            position: absolute;
            bottom: 102px;
            right: 285px;

            @media #{$xxxl} {
                right: 190px;
            }

            @media #{$xxl} {
                right: 100px;
            }

            @media #{$xl} {
                right: 50px;
            }

            @media #{$lg} {
                right: -50px;
            }

            @media #{$md} {
                bottom: 0;
                right: 250px;
            }
        }
    }
}


// About-3 ---------------------
.about-section-3 {
    position: relative;

    &__thumb {
        &__wrap {
            position: relative;
        }

        img {
            width: fit-content;

            @media #{$sm,$xs} {
                width: 100%;
            }
        }

        &.image_2 {
            position: absolute;
            bottom: 0;
            left: 0;

            @media #{$xs} {
                position: inherit;
                margin-top: 20px;
            }
        }
    }

    &__content {
        margin-left: 90px;

        @media #{$xl} {
            margin-left: 60px;
        }

        @media #{$lg} {
            margin-left: 30px;
        }

        @media #{$md,$sm,$xs} {
            margin-left: 0px;
            margin-top: 30px;
        }
    }

    .section-title__wrapper {
        margin-bottom: 105px;

        @media #{$md} {
            margin-bottom: 50px;
        }

        @media #{$sm,$xs} {
            margin-bottom: 40px;
        }

        .section__title {
            span {
                background: #fff;
                border-radius: 100px;
                padding: 0px 36.5px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-left: 14px;
                margin-right: 15px;
                transform: translateY(10px);

                @media #{$sm,$xs} {
                    padding: 0px 24px;
                    margin-left: 0px;
                    margin-right: 0px;
                }

                @media #{$xs} {
                    padding: 0px 15px;
                    transform: translateY(5px);
                }

                img {
                    width: fit-content;

                    @media #{$xs} {
                        width: 60%;
                    }
                }
            }

            @media #{$lg} {
                br {
                    display: none;
                }
            }

            @media #{$xs} {
                font-size: 31px;
                line-height: 42px;
            }

        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
    }

    &__btn {
        margin-top: 40px;
        margin-bottom: 45px;
    }

    &__count {
        h4 {
            font-weight: 500;
            font-size: 65px;
            line-height: 70px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading);

            span {
                font-size: 120px;
                line-height: 1;

                &.odometer.odometer-auto-theme,
                .odometer.odometer-theme-default {
                    font-family: var(--rr-ff-heading);
                    line-height: 1;
                }
            }
        }

        >span {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            margin-left: 20px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-body);
        }
    }

    &__shape-1 {
        position: absolute;
        left: 180px;
        top: -70px;

        @media #{$xl} {
            left: 150px;
        }

        @media #{$lg} {
            left: 180px;
            top: -115px;
        }
    }
}


// about section 4  ==========
.gutter-x-0 {
    --bs-gutter-x: 0px;
}

.about-section-4 {
    &__shape {
        left: 29%;
        top: 141px;
        display: flex;
        gap: 10px 9px;
        align-items: end;
        position: absolute;

        &-1 {
            width: 218px;
            height: 218px;
            border-radius: 50%;
            background: rgb(13, 13, 13);
        }

        &-2 {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background: rgb(13, 13, 13);
        }
    }

    &__heading {
        display: flex;
        margin-bottom: 53px;

        @media #{$md,$sm,$xs} {
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }

        .section-title {
            &__wrapper_4 {
                width: 100%;
                max-width: 735px;

                @media #{$xl,$lg} {
                    width: 100%;
                    max-width: 535px;
                }

                @media #{$lg} {
                    max-width: 350px;
                }

                h3 {
                    position: relative;

                    @media #{$xs} {
                        br {
                            display: none;
                        }
                    }

                    &::before {
                        content: "";
                        left: 28%;
                        top: 20px;
                        height: 1px;
                        width: 185px;
                        position: absolute;
                        background: var(--rr-color-white);

                        @media #{$xl} {
                            left: 38%;
                        }

                        @media #{$lg} {
                            top: 10px;
                            left: 32%;
                            width: 120px;
                        }

                        @media #{$md} {
                            left: 17%;
                            top: 11px;
                        }

                        @media #{$sm} {
                            left: 24%;
                            top: 12px;
                        }

                        @media #{$xs} {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__subtitle {
        font-size: 50px;
        font-weight: 400;
        line-height: 1.20;
        max-width: 960px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-heading-2);

        @media #{$lg,$md,$sm} {
            font-size: 37px;
        }

        @media #{$xs} {
            font-size: 26px;
        }

        span {
            color: var(--rr-color-white);
        }
    }

    &__dec {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        margin-top: 20px;
        max-width: 830px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media #{$xs} {
            margin-top: 10px;
        }
    }

    &__btn {
        margin-top: 37px;

        @media #{$xs} {
            margin-top: 20px;
        }
    }

    &__thumb {
        &__left {
            z-index: 11;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            margin-left: 131px;
            display: inline-block;

            @media #{$lg,$md,$sm,$xs} {
                margin-left: 0;
            }
            @media #{$sm,$xs} {
                display: block;
            }

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__thumb {
        &__right {
            z-index: 11;
            overflow: hidden;
            position: relative;
            margin-top: 53px;
            border-radius: 5px;
            display: inline-block;

            @media #{$sm,$xs} {
                margin-top: 20px;
            }
            @media #{$md} {
                margin-left: 20px;
            }

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

// about-section-5 --------------------
.about-section-5 {
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media #{$lg,$md,$sm,$xs} {
            margin-bottom: 10px;

            br {
                display: none;
            }
        }
    }

    &__title {
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);

        @media #{$xl} {
            font-size: 48px;
            line-height: 58px;
        }

        @media #{$md} {
            font-size: 40px;
            line-height: 45px;
        }

        @media #{$sm} {
            font-size: 30px;
            line-height: 35px;
        }

        @media #{$xs} {
            font-size: 25px;
            line-height: 30px;
        }

        span {
            margin-left: 155px;

            @media #{$lg,$md,$sm,$xs} {
                margin-left: 0;
            }
        }
    }

    &__text {
        max-width: 670px;
        margin-left: 115px;

        @media #{$lg,$md,$sm,$xs} {
            margin-left: 0;
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-top: 48px;
        margin-bottom: 42px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media #{$lg,$md} {
            margin: 30px 0;
        }

        @media #{$sm,$xs} {
            margin: 20px 0;
        }
    }

    &__item {
        &__wrapper {
            width: 100%;
            height: 860px;
            overflow: hidden;
            position: relative;
            pointer-events: none;
            margin-top: -210px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                height: 700px;
                margin-top: -150px;
            }

            @media #{$sm} {
                height: 700px;
                margin-top: -250px;
            }
        }
    }

    &__capsule {
        &__wrapper {
            p {
                left: 0;
                top: 0;
                transition: none;
                margin-bottom: 0;
                user-select: none;
                position: absolute;
                pointer-events: auto;
                display: inline-block;
            }
        }

        &__item {
            width: 455px;
            height: 276px;
            align-items: center;
            display: inline-flex;
            border-radius: 500px;
            justify-content: center;
            border: 1px solid rgba(255, 255, 255, 0.05);
            @include transform(translate(-50%, -50%) rotate(0.01rad));

            @media #{$xxl,$xl} {
                width: 330px;
                height: 200px;
            }

            @media #{$lg} {
                width: 300px;
                height: 180px;
            }

            @media #{$md} {
                width: 270px;
                height: 160px;
            }

            @media #{$sm} {
                width: 225px;
                height: 130px;
            }

            @media #{$xs} {
                width: 180px;
                height: 110px;
            }

            span {
                span {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 27px;
                    margin-left: 60px;
                    display: inline-block;
                    color: var(--rr-text-body-2);
                    font-family: var(--rr-ff-body);

                    @media #{$xxl} {
                        margin-left: 20px;
                    }

                    @media #{$xl,$lg,$md,$sm,$xs} {
                        margin-left: 10px;
                    }

                    @media #{$lg,$md} {
                        font-size: 18px;
                        line-height: 20px;
                    }

                    @media #{$sm,$xs} {
                        font-size: 16px;
                        line-height: 18px;
                    }

                    &:last-of-type {
                        font-weight: 400;
                        font-size: 120px;
                        line-height: 1;
                        margin-left: 0;
                        color: var(--rr-common-white);
                        font-family: var(--rr-ff-heading-3);

                        @media #{$xxl} {
                            font-size: 80px;
                        }

                        @media #{$xl,$lg} {
                            font-size: 80px;
                        }

                        @media #{$md} {
                            font-size: 70px;
                        }

                        @media #{$sm} {
                            font-size: 60px;
                        }

                        @media #{$xs} {
                            font-size: 40px;
                        }
                    }
                }
            }

            &.active,
            &:hover {
                border-color: rgba(255, 255, 255, 0.1);
                background-color: var(--rr-theme-primary-5);

                span {
                    span {
                        &:first-of-type {
                            color: var(--rr-common-white);
                        }
                    }
                }
            }
        }
    }

    &__border {
        line-height: 1;

        span {
            width: 100%;
            height: 1px;
            line-height: 1;
            margin-bottom: 5px;
            display: block;
            background-color: var(--rr-common-white);

            &:last-of-type {
                margin-bottom: 0;
            }

            &:nth-child(1) {
                height: 4px;
            }

            &:nth-child(3) {
                height: 4px;
            }
        }
    }
}





// About ------------------------
.about-big-text h4 {
    font-weight: 500;
    font-size: 150px;
    line-height: 120px;
    text-align: end;
    margin-bottom: -57px;
    position: relative;
    z-index: 1;
    color: var(--rr-common-white);
    font-family: var(--rr-ff-heading);

    @media #{$md,$sm} {
        font-size: 120px;
        line-height: 1;
    }

    @media #{$xs} {
        font-size: 70px;
        line-height: 1;
        margin-bottom: -35px;
    }
}


// about-section-inner
.about-section-inner {
    .section-title {
        &__wrapper {
            margin-bottom: 85px;

            @media #{$xs} {
                margin-bottom: 40px;
            }
        }
    }

    .about-section-3 {
        &__btn {
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);
    }

    .about-section-3 {

        &__content {
            margin-left: -30px;

            @media #{$md,$sm,$xs} {
                margin-left: 0;
            }
        }

        &__thumb {
            &__wrap {
                margin-right: 80px;

                @media #{$xl,$lg} {
                    margin-right: 60px;
                }

                @media #{$md,$sm,$xs} {
                    margin-right: 0px;
                }
            }

            &.image_2 {
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);

                @media #{$lg,$sm} {
                    bottom: 0;
                    top: auto;
                    transform: translateY(0);
                }

                @media #{$xs} {
                    position: inherit;
                    bottom: 0;
                    transform: translateY(0);
                }
            }
        }

        &__dec {
            margin-top: 33px;
            margin-bottom: 20px;

            &:last-of-type {
                margin-top: 0;
            }
        }
    }
}