@use "../../utils" as *;




.about-section {
    &__thumb {
        text-align: end;
        margin-right: 80px;

        @media #{$md} {
            margin-right: 40px;
        }

        @media #{$sm,$xs} {
            margin-right: 0;
            text-align: center;
            margin-bottom: 30px;
        }

        img {
            width: initial;
            height: 100%;
            object-fit: cover;

            @media #{$sm,$xs} {
                width: 100%;
            }
        }
    }

    &__content {
        margin-left: -30px;

        @media #{$sm,$xs} {
            margin-left: 0;
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 500;
        line-height: 30px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$xs} {
            font-size: 22px;
            line-height: 28px;
        }

        @media #{$lg,$md,$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__dec {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-top: 20px;
        margin-bottom: 42px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$lg,$md,$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        column-gap: 35px;
        flex-wrap: wrap;

        .rr-btn {
            @media #{$xs} {
                margin-bottom: 15px;
            }
        }

        .rr-arrow__btn {
            &::before {
                bottom: -4px;
            }

            &::after {
                bottom: -4px;
            }
        }
    }

    .section-title {
        &__wrapper {
            margin-bottom: 85px;
            margin-left: 190px;

            @media #{$md,$sm,$xs} {
                margin-bottom: 40px;
            }

            @media #{$lg,$md,$sm,$xs} {
                margin-left: 0;
            }

            .section {
                &__title {
                    @media #{$xs} {
                        font-size: 28px;
                        line-height: 37px;
                    }

                    span {
                        @media #{$xs} {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}



// about-2 --------------

.about-section-2 {
    position: relative;

    &__count__wrap {
        @media #{$md,$sm,$xs} {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    &__count {
        width: 428px;
        height: 428px;
        border: 1px solid rgb(255 255 255 / 10%);
        border-radius: 500px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @media #{$lg} {
            width: 350px;
            height: 350px;
        }

        @media #{$xs} {
            width: 230px;
            height: 230px;
        }

        h4 {
            font-weight: 300;
            font-style: italic;
            font-size: 120px;
            line-height: 1;
            letter-spacing: 2px;
            margin-bottom: 5px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading);

            .odometer.odometer-auto-theme,
            .odometer.odometer-theme-default {
                font-family: var(--rr-ff-heading);
                line-height: 1;
            }

            @media #{$xs} {
                font-size: 70px;
            }
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
            text-transform: capitalize;
            color: var(--rr-text-body);
            font-family: var(--rr-ff-body);
        }
    }

    &__wrapper {
        margin-left: 55px;

        @media #{$xl,$lg,$md,$sm,$xs} {
            margin-left: 0;
        }

        .section-title {
            &__wrapper {
                margin-bottom: 38px;

                .section__title {
                    @media #{$xl,$lg} {
                        font-size: 60px;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__content {
        margin-left: 135px;

        @media #{$md,$sm,$xs} {
            margin-left: 0;
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 42px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$md,$sm,$xs} {
            margin-bottom: 30px;

            br {
                display: none;
            }
        }
    }

    &__shape {
        &-1 {
            position: absolute;
            bottom: 240px;
            left: 755px;

            @media #{$xxxl,$xxl} {
                left: 600px;
            }

            @media #{$xl} {
                left: 450px;
            }

            @media #{$lg} {
                bottom: 270px;
                left: 400px;
            }

            @media #{$md} {
                bottom: auto;
                left: auto;
                top: 450px;
                right: 100px;
            }
        }

        &-2 {
            position: absolute;
            bottom: 102px;
            right: 285px;

            @media #{$xxxl} {
                right: 190px;
            }

            @media #{$xxl} {
                right: 100px;
            }

            @media #{$xl} {
                right: 50px;
            }

            @media #{$lg} {
                right: -50px;
            }

            @media #{$md} {
                bottom: 0;
                right: 250px;
            }
        }
    }
}




// About-3 ---------------------
.about-section-3 {
    position: relative;

    &__thumb {
        &__wrap {
            position: relative;
        }

        img {
            width: fit-content;

            @media #{$sm,$xs} {
                width: 100%;
            }
        }

        &.image_2 {
            position: absolute;
            bottom: 0;
            left: 0;

            @media #{$xs} {
                position: inherit;
                margin-top: 20px;
            }
        }
    }

    &__content {
        margin-left: 90px;

        @media #{$xl} {
            margin-left: 60px;
        }

        @media #{$lg} {
            margin-left: 30px;
        }

        @media #{$md,$sm,$xs} {
            margin-left: 0px;
            margin-top: 30px;
        }
    }

    .section-title__wrapper {
        margin-bottom: 105px;

        @media #{$md} {
            margin-bottom: 50px;
        }

        @media #{$sm,$xs} {
            margin-bottom: 40px;
        }

        .section__title {
            span {
                background: #fff;
                border-radius: 100px;
                padding: 0px 36.5px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-left: 14px;
                margin-right: 15px;
                transform: translateY(10px);

                @media #{$sm,$xs} {
                    padding: 0px 24px;
                    margin-left: 0px;
                    margin-right: 0px;
                }

                @media #{$xs} {
                    padding: 0px 15px;
                    transform: translateY(5px);
                }

                img {
                    width: fit-content;

                    @media #{$xs} {
                        width: 60%;
                    }
                }
            }

            @media #{$lg} {
                br {
                    display: none;
                }
            }

            @media #{$xs} {
                font-size: 31px;
                line-height: 42px;
            }

        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
    }

    &__btn {
        margin-top: 40px;
        margin-bottom: 45px;
    }

    &__count {
        h4 {
            font-weight: 500;
            font-size: 65px;
            line-height: 70px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading);

            span {
                font-size: 120px;
                line-height: 1;

                &.odometer.odometer-auto-theme,
                .odometer.odometer-theme-default {
                    font-family: var(--rr-ff-heading);
                    line-height: 1;
                }
            }
        }

        >span {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            margin-left: 20px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-body);
        }
    }

    &__shape-1 {
        position: absolute;
        left: 180px;
        top: -70px;

        @media #{$xl} {
            left: 150px;
        }

        @media #{$lg} {
            left: 180px;
            top: -115px;
        }
    }
}











// About - 4 ------------------------
.about-big-text h4 {
    font-weight: 500;
    font-size: 150px;
    line-height: 120px;
    text-align: end;
    margin-bottom: -57px;
    position: relative;
    z-index: 1;
    color: var(--rr-common-white);
    font-family: var(--rr-ff-heading);

    @media #{$md,$sm} {
        font-size: 120px;
        line-height: 1;
    }

    @media #{$xs} {
        font-size: 70px;
        line-height: 1;
        margin-bottom: -35px;
    }
}

.about-section-inner {
    .section-title {
        &__wrapper {
            margin-bottom: 85px;

            @media #{$xs} {
                margin-bottom: 40px;
            }
        }
    }
    .about-section-3{
        &__btn{
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);
    }

    .about-section-3 {

        &__content {
            margin-left: -30px;

            @media #{$md,$sm,$xs} {
                margin-left: 0;
            }
        }

        &__thumb {
            &__wrap {
                margin-right: 80px;

                @media #{$xl,$lg} {
                    margin-right: 60px;
                }

                @media #{$md,$sm,$xs} {
                    margin-right: 0px;
                }
            }

            &.image_2 {
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);

                @media #{$lg,$sm} {
                    bottom: 0;
                    top: auto;
                    transform: translateY(0);
                }

                @media #{$xs} {
                    position: inherit;
                    bottom: 0;
                    transform: translateY(0);
                }
            }
        }

        &__dec {
            margin-top: 33px;
            margin-bottom: 20px;

            &:last-of-type {
                margin-top: 0;
            }
        }
    }
}