@use "../../utils" as *;



// award-section
.award-section {
    background-color: var(--rr-body-primary-2);

    .section-title {
        &__wrapper {
            .section__title {
                @media #{$lg,$md} {
                    br {
                        display: none;
                    }
                }

                @media #{$xs} {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
        }
    }

    &__wrap {
        padding-left: 80px;
        padding-top: 100px;
        margin-top: -350px;
        position: relative;
        background-color: var(--rr-body-primary-2);

        @media #{$lg} {
            padding-left: 60px;
            padding-top: 70px;
            margin-top: -230px;
        }

        @media #{$md,$sm,$xs} {
            padding-left: 0px;
            padding-top: 30px;
            margin-top: 0;
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

        @media #{$lg,$md,$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__bg__thumb {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        margin-left: 80px;
        margin-top: 25px;

        @media #{$lg} {
            margin-left: 30px;
        }

        @media #{$md,$sm,$xs} {
            margin-left: 0px;
        }
    }

    &__item {
        border-bottom: 1px solid #D9D9D91A;
        padding: 26px 0;
        padding-bottom: 21px;

        &:first-of-type {
            border-top: 1px solid #D9D9D91A;
        }

        &.item-1,
        &.item-5 {
            .rr-hover-reveal-bg {
                width: 164px;
                height: 245px;
            }
        }

        &.item-2 {
            .award-section {
                &__content {
                    column-gap: 230px;

                    @media #{$md} {
                        column-gap: 190px;
                    }

                    @media #{$sm} {
                        column-gap: 105px;
                    }
                }
            }
        }

        &.item-3 {
            .award-section {
                &__content {
                    column-gap: 225px;

                    @media #{$md} {
                        column-gap: 185px;
                    }

                    @media #{$sm} {
                        column-gap: 100px;
                    }
                }
            }
        }

        &.item-4 {
            .award-section {
                &__content {
                    column-gap: 185px;

                    @media #{$md} {
                        column-gap: 145px;
                    }

                    @media #{$sm} {
                        column-gap: 60px;
                    }
                }
            }
        }

        &.item-5 {
            .award-section {
                &__content {
                    column-gap: 240px;

                    @media #{$md} {
                        column-gap: 200px;
                    }

                    @media #{$sm} {
                        column-gap: 115px;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 220px;

        @media #{$md} {
            column-gap: 180px;
        }

        @media #{$sm} {
            column-gap: 105px;
        }

        @media #{$xs} {
            display: block;
        }
    }

    &__place {
        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-body);

            @media #{$xs} {
                display: inline-block;
                margin-bottom: 20px;
            }
        }
    }

    &__date {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 6px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$xs} {
            font-size: 17px;
        }
    }

    &__position {
        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-body);
        }
    }

    &__inner-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.rr-hover-reveal-item {
    .rr-hover-reveal-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 139px;
        height: 244px;
        opacity: 0;
        margin: -150px 0 0 -150px;
        overflow: hidden;
        pointer-events: none;
        z-index: 99;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: opacity 0.3s, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &:hover {
        .rr-hover-reveal-bg {
            opacity: 1;
            visibility: visible;
        }
    }
}




// award section 4 ===========
.award-4 {
    &__section {
        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 48px;

            @media #{$lg, $md,$sm,$xs} {
                padding-bottom: 20px;
            }
        }
    }

    &__dec {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.50;
        color: var(--rr-text-body-2);
        max-width: 361px;
        margin-top: 26px;

        span {
            margin-right: 20px;

            @media #{$xs} {
                margin-right: 0px;
            }
        }
    }

    &__content {
        &__wrap {
            display: flex;
            border-top: 1px solid var(--rr-color-white);

            @media #{$md,$sm,$xs} {
                flex-wrap: wrap;
            }
        }
    }

    &__content {
        width: 100%;

        .award-section {

            &__text__box {
                .award-section__date {
                    font-size: 18px;
                }
            }

            &__item {
                padding: 43px 0;

                @media #{$xs} {
                    padding: 30px 0;
                }

                &.item-2 {
                    .award-section {
                        &__content {
                            column-gap: 250px;

                            @media #{$sm} {
                                column-gap: 120px;
                            }
                        }
                    }
                }

                &.item-3 {
                    .award-section {
                        &__content {
                            column-gap: 242px;

                            @media #{$sm} {
                                column-gap: 110px;
                            }
                        }
                    }
                }

                &.item-4 {
                    .award-section {
                        &__content {
                            column-gap: 189px;

                            @media #{$sm} {
                                column-gap: 55px;
                            }
                        }
                    }
                }

                &.item-5 {
                    .award-section {
                        &__content {
                            column-gap: 263px;

                            @media #{$sm} {
                                column-gap: 127px;
                            }
                        }
                    }
                }
            }

            &__position {
                span {
                    @media #{$sm} {
                        margin-top: 15px;
                        display: inline-block;
                    }
                }
            }

            &__inner-item {

                @media #{$xs} {
                    display: block;
                }

                span,
                h3 {
                    font-size: 24px;
                    letter-spacing: -1px;
                    font-weight: 300;

                    @media #{$sm,$xs} {
                        font-size: 18px;
                    }
                }
            }

            &__content {
                padding-left: 29px;
                column-gap: 234px;

                @media #{$md} {
                    padding-left: 0px;
                    column-gap: 235px;
                }

                @media #{$sm,$xs} {
                    padding-left: 0px;
                    column-gap: 105px;
                }
            }
        }

    }

    &__date {
        max-width: 700px;
        width: 100%;

        @media #{$xxl} {
            max-width: 500px;
            width: 100%;
        }

        @media #{$xl,$lg} {
            max-width: 300px;
            width: 100%;
        }

        @media #{$lg,$md} {
            max-width: 140px;
            width: 100%;
        }
    }

    &__date__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.44;
        padding-top: 45px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
    }
}