@use '../../utils' as *;
/*----------------------------------------*/
/*  8.12 home2
/*----------------------------------------*/

.thumb-bg-section-2 {
    &__wrapper {
        width: 100%;
        height: 915px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media #{$xl} {
            height: 700px;
        }

        @media #{$lg} {
            height: 600px;
        }

        @media #{$md} {
            height: 500px;
        }

        @media #{$sm,$xs} {
            height: 400px;
        }
    }
}


.brand-section-2 {
    &__title {
        font-size: 40px;
        line-height: 45px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 60px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$xs} {
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 40px;
            br{
                display: none;
            }
        }
    }

    &__list {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 30px;
            flex-wrap: wrap;

            li {
                width: 300px;
                height: 160px;
                border: 1px solid #252525;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 500px;

                @media #{$sm,$xs} {
                    width: 220px;
                    height: 100px;
                }

                img {
                    width: fit-content;
                }
            }
        }
    }
}