@use '../../utils' as *;
/*----------------------------------------*/
/*  8.13 home3
/*----------------------------------------*/



.title-slider-3 {
    padding-top: 240px;
    padding-bottom: 200px;

    @media #{$xl,$lg} {
        padding-bottom: 160px;
    }

    @media #{$md} {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media #{$sm,$xs} {
        padding-top: 70px;
        padding-bottom: 58px;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
    }

    &__active {
        background-color: var(--rr-theme-primary-3);
        transform: rotate(-5.07deg);
        position: relative;
        z-index: 2;
        margin: 0 -20px;

        @media #{$xs} {
            transform: rotate(-15.07deg);
        }

        &-2 {
            background-color: #171717;
            transform: rotate(11.87deg);
            position: absolute;
            top: 0;
            left: 0;
            margin: 0 -35px;

            @media #{$xs} {
                transform: rotate(16.87deg);
            }
        }
    }

    &__title {
        font-size: 70px;
        line-height: 1;
        padding: 27.5px;
        font-weight: 500;
        color: rgb(16, 16, 16);
        text-transform: capitalize;
        font-family: var(--rr-ff-heading);

        @media #{$md} {
            font-size: 50px;
            padding: 20px;
        }

        @media #{$sm} {
            font-size: 35px;
            padding: 15px;
        }

        @media #{$xs} {
            font-size: 28px;
            padding: 15px;
        }


        span {
            color: transparent;
            -webkit-text-stroke: 1px rgb(84, 84, 84);
        }

        &-2 {
            color: var(--rr-common-white);

            span {
                color: transparent;
                -webkit-text-stroke: 1px var(--rr-common-white);
            }
        }
    }

    .swiper-wrapper {
        transition-timing-function: linear;

        .swiper-slide {
            width: auto;
        }
    }
}



.title-slider-custom {
    &.title-slider-3 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .title-slider-3 {
        &__active {
            transform: rotate(0deg);
        }

        &__active-2 {
            transform: rotate(0deg);
            position: inherit;

        }
    }
}





.thumb-bg-section-3 {
    .thumb-bg-section-2 {
        &__wrapper {
            height: 750px;

            @media #{$xl} {
                height: 650px;
            }

            @media #{$lg} {
                height: 600px;
            }

            @media #{$md} {
                height: 500px;
            }

            @media #{$sm,$xs} {
                height: 400px;
            }
        }
    }
}