@use "../../utils" as *;



// project-1 -----------------------
.projects-section {
    &__wrapper {
        padding-top: 80px;

        @media #{$md} {
            padding-top: 50px;
        }

        @media #{$sm,$xs} {
            padding-top: 70px;
        }
    }

    &__thumb {
        max-width: 550px;
        max-height: 350px;
        margin-bottom: 30px;

        @media #{$sm,$xs} {
            max-width: 100%;
            max-height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.image_1,
        &.image_4 {
            max-width: 550px;
            max-height: 750px;

            @media #{$sm,$xs} {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$md} {
            font-size: 28px;
        }

        @media #{$xs} {
            font-size: 25px;
            line-height: 28px;
        }

        a:hover {
            color: var(--rr-theme-primary);
        }
    }

    &__position {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        font-family: var(--rr-ff-body);
        color: var(--rr-text-body);
    }

    .section-title {
        &__wrapper_2 {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 50px;
            flex-wrap: wrap;

            @media #{$xl,$lg,$sm} {
                column-gap: 30px;
            }

            @media #{$lg} {
                justify-content: inherit;
            }

            .section {
                &__title {
                    span {
                        margin-left: 390px;

                        @media #{$md,$sm} {
                            margin-left: 170px;
                        }

                        @media #{$xs} {
                            margin-left: 0;
                        }
                    }
                }
            }

            .rr-arrow__btn {
                color: var(--rr-text-body);
                transform: translateY(60px);

                &::before {
                    background-color: var(--rr-text-body);
                }

                &::after {
                    background-color: var(--rr-text-body);
                }

                @media #{$xs} {
                    transform: translateY(0px);
                }

                &:hover {
                    color: var(--rr-theme-primary);

                    &::before {
                        background-color: var(--rr-theme-primary);
                    }

                    &::after {
                        background-color: var(--rr-theme-primary);
                    }

                    svg [fill="#C0C0C0"] {
                        fill: var(--rr-theme-primary);
                    }
                }
            }
        }
    }

    .margin-top {
        margin-top: 200px;

        @media #{$sm,$xs} {
            margin-top: 50px;
        }
    }

    .margin-bottom {
        margin-bottom: 280px;

        @media #{$sm,$xs} {
            margin-bottom: 50px;
        }
    }

    .margin-left {
        margin-left: 80px;

        @media #{$sm,$xs} {
            margin-left: 0px;
        }
    }
}


// project-2 -----------------------
.project-section-2 {
    &__top {
        display: flex;
        align-items: start;
        justify-content: end;
        column-gap: 234px;
        flex-wrap: wrap;

        .section-title__wrapper {
            @media #{$md,$sm,$xs} {
                margin-bottom: 20px;
            }
        }

        @media #{$md,$sm,$xs} {
            transform: translate(0);
            margin-bottom: 30px;
            display: block;
        }

        .section {
            &__title {
                font-weight: 600;
                font-size: 120px;
                line-height: 120px;
                margin-bottom: 0;
                color: var(--rr-common-white);
                font-family: var(--rr-ff-heading);

                @media #{$md} {
                    font-size: 100px;
                    line-height: 100px;
                }

                @media #{$sm} {
                    font-size: 80px;
                    line-height: 85px;
                }

                @media #{$xs} {
                    font-size: 48px;
                    line-height: 50px;
                }

                span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1;
                    display: inline-block;
                    font-style: normal;
                    color: var(--rr-text-body);
                    transform: translate(10px, -50px);
                    font-family: var(--rr-ff-body);

                    @media #{$md,$sm,$xs} {
                        transform: translate(0);
                    }
                }
            }
        }
    }

    &__wrapper {
        margin: 0 50px;

        @media #{$xl,$lg,$md,$sm,$xs} {
            margin: 0 20px;
        }
    }

    &__btn {
        margin-top: 10px;

        .rr-arrow__btn-2 {
            color: var(--rr-text-body);

            &::before {
                background-color: var(--rr-text-body);
            }

            &::after {
                background-color: var(--rr-text-body);
            }
        }
    }

    &__thumb {
        margin-bottom: 32px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media #{$xs} {
            margin-bottom: 20px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 5px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-heading);

        @media #{$xxl} {
            font-size: 28px;
        }

        @media #{$xl,$xs} {
            font-size: 25px;
        }

        &:hover {
            color: var(--rr-theme-primary-2);
        }
    }

    &__date {
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);
    }

    &__pagination {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 80px;
        justify-content: center;

        & .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            margin: 0 !important;
            display: inline-block;
            opacity: 0.1;
            background: rgba(255, 255, 255, ) !important;

            &.swiper-pagination-bullet-active {
                opacity: 1;
                background: rgba(255, 255, 255, ) !important;
            }
        }
    }

}



// project-3 -----------------------
.project-section-3 {
    &__text {
        font-weight: 500;
        font-size: 65px;
        line-height: 70px;
        margin-bottom: 0;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$sm,$xs} {
            margin-bottom: 30px;
        }

        @media #{$xs} {
            font-size: 50px;
            line-height: 60px;
        }
    }

    &__wrapper {
        border-left: 1px solid rgb(37, 37, 37);
        padding-left: 80px;

        @media #{$md} {
            padding-left: 50px;
        }

        @media #{$sm,$xs} {
            padding-left: 0px;
            border-left: none;
        }
    }

    &__content {
        margin-top: 30px;
        margin-bottom: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(37, 37, 37);
    }

    &__item {
        &:last-of-type {
            .project-section-3 {
                &__content {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }

    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        a:hover {
            color: var(--rr-theme-primary-3);
        }
    }

    &__date {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
    }

    &__thumb {
        position: relative;

        &:hover {
            .project-section-3 {
                &__btn {
                    top: 50%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            img {
                cursor: none;
            }
        }
    }
}


// project section 4 =================
.project-section-4 {
    &__section {
        &__title {
            .title {
                line-height: 1;
                font-weight: 400;
                color: var(--rr-color-white);
                font-family: var(--rr-ff-heading-2);
                font-size: 230px;

                @media #{$xxl} {
                    font-size: 190px;
                }

                @media #{$xl} {
                    font-size: 160px;
                }

                @media #{$lg} {
                    font-size: 125px;
                }

                @media #{$md} {
                    font-size: 100px;
                }

                @media #{$sm,$xs} {
                    font-size: 50px;
                    display: inline-block;
                }

                &:last-child {
                    text-align: end;
                }
            }
        }
    }

    &__item {
        display: flex;
        height: 100%;
        padding: 58px 0 43px 0;
        margin-top: -1px;
        flex-direction: column;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        @media #{$lg, $md,$sm,$xs} {
            padding: 30px 0;
        }
    }

    &__thumb {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: none;
            transform: scale(1.2);
            transition: transform .3s ease;
        }

        &.visible {

            img,
            video {
                transform: scale(1);
            }
        }
    }

    &__text {
        margin-top: 35px;

        @media #{$xs} {
            margin-top: 25px;
        }
    }

    &__caption {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 5px;
        font-family: var(--rr-ff-body);
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0%;
        color: var(--rr-text-body-2)999;

    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @media #{$lg} {
            gap: 0;
        }

        @media #{$xs} {
            display: block;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 400;
        line-height: 1.17;
        color: var(--rr-color-white);
        font-family: var(--rr-ff-heading-2);

        @media #{$lg} {
            font-size: 22px;
        }

        @media #{$xs} {
            font-size: 24px;
        }

        &:hover {
            opacity: 0.6;
        }
    }

    &__date {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.4;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
    }

    &__btn {
        &__wrap {
            margin-top: 76px;
            display: flex;
            justify-content: center;

            @media #{$md} {
                margin-top: 35px;
            }

            @media #{$sm,$xs} {
                margin-top: 30px;
            }

            .rr-btn-cus {
                position: relative;
                margin-left: -15px;
            }
        }
    }

    &__btn {
        &__count {
            top: -10px;
            right: -35px;
            position: absolute;
        }
    }
}


// project-5 ----------------------
.project-section-5 {
    &__wrap {
        @media #{$sm,$xs} {
            text-align: start;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 0;
        text-transform: uppercase;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);

        @media #{$md,$sm} {
            font-size: 60px;
            line-height: 60px;
        }

        @media #{$xs} {
            font-size: 45px;
            line-height: 45px;
        }

        @media #{$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__progress {
        width: 160px;
        margin: 0 auto;
        margin-top: 30px;
        position: relative;

        @media #{$sm,$xs} {
            margin: 30px 0;
            margin-bottom: 60px;
        }
    }

    &__numbers {
        width: 160px;
        display: flex;
        justify-content: space-between;
    }

    &__progress-bar {
        width: 160px;
        height: 2px;
        margin-top: 10px;
        overflow: hidden;
        position: relative;
        background: var(--rr-common-white);
    }

    &__fill {
        height: 100%;
        width: 20%;
        transition: width 0.1s linear;
        background: var(--rr-theme-primary-5);
    }

    &__wrapper {
        margin-left: 115px;

        @media #{$xl,$lg,$md,$sm,$xs} {
            margin-left: 0;
        }
    }

    &__item {
        padding-bottom: 58px;
        margin-bottom: 60px;
        border-bottom: 1px solid rgb(255 255 255 / 5%);

        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        @media #{$md,$sm} {
            padding-bottom: 45px;
            margin-bottom: 45px;
        }

        @media #{$xs} {
            padding-bottom: 35px;
            margin-bottom: 35px;
        }
    }

    &__thumb {
        img {
            cursor: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__content {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        justify-content: space-between;
    }

    &__date {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
    }

    &__title {
        font-weight: 400;
        font-size: 30px;
        margin-top: 4px;
        line-height: 35px;
        text-transform: uppercase;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);

        @media #{$lg,$sm,$xs} {
            font-size: 25px;
            line-height: 30px;
        }

        @media #{$md} {
            margin-bottom: 25px;
        }

        @media #{$xs} {
            margin-bottom: 20px;
        }

        a:hover {
            color: var(--rr-theme-primary-5);
        }
    }

    &__tag {
        list-style: none;
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 5px;
        flex-wrap: wrap;

        @media #{$lg,$sm,$xs} {
            column-gap: 5px;
        }


        li {
            font-weight: 500;
            font-size: 16px;
            line-height: 1;
            border-radius: 100px;
            padding: 6.5px 18.4px;
            display: inline-block;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-body);
            border: 1px solid var(--rr-common-white);

            @media #{$lg,$sm} {
                padding: 6.5px 11.4px;
            }

            @media #{$xs} {
                padding: 5.5px 5.4px;
            }
        }
    }

    &__btn {
        margin-top: 75px;
        margin-left: 12px;

        @media #{$md} {
            margin-top: 50px;
        }

        @media #{$sm,$xs} {
            margin-top: 40px;
        }

        .rr-btn-group {
            >*:nth-child(1) {
                padding: 20px 20.9px;
                color: var(--rr-common-white);
                background-color: transparent;
                border: 1px solid rgb(255 255 255 / 5%);
            }

            >*:nth-child(2) {
                padding: 17.5px 31px;
                color: var(--rr-common-white);
                background-color: transparent;
                border: 1px solid rgb(255 255 255 / 5%);
            }

            &:hover {
                >*:nth-child(2) {
                    background-color: var(--rr-theme-primary-5);
                }
            }
        }
    }
}

#project-section-5 {

    &__current,
    &__total {
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);
    }

    &__total {
        right: 0;
        bottom: -30px;
        position: absolute;
    }
}