@use "../../utils" as *;




.services-section {
    background: #161616;

    @media #{$xs} {
        padding-top: 0;
    }

    .section-title {
        &__wrapper {
            margin-bottom: 0;
        }
    }

    &__item {
        display: flex;
        cursor: pointer;
        padding: 45px 0;
        align-items: center;
        padding-bottom: 47.5px;
        justify-content: space-between;
        transition: color 0.3s ease-in-out;
        border-bottom: 1px solid rgb(217 217 217 / 10%);

        @media #{$lg,$md} {
            padding: 35px 0;
            padding-bottom: 40px;
        }

        &:first-of-type {
            border-top: 1px solid rgb(217 217 217 / 10%);
        }

        &.active {
            .services-section {
                &__title {
                    a {
                        color: var(--rr-theme-primary);
                    }
                }

                &__btn {
                    .services {
                        &__btn {
                            background: var(--rr-theme-primary);
                            border-color: var(--rr-theme-primary);

                            svg [fill="#C0C0C0"] {
                                fill: #2E2828;
                            }
                        }
                    }
                }
            }
        }
    }

    &__thumb {
        max-width: 554px;
        max-height: 735px;
        overflow: hidden;
        position: relative;

        @media #{$sm,$xs} {
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 30px;
        }
        .service-image {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0;
            transition: all 0.8s;
            transform: scale(0);
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
            }
            
            &.active {
                position: relative;
                opacity: 1;
                z-index: 1;
                transition: opacity 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
                transform: scale(1);
            }
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        line-height: 45px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$lg,$md} {
            font-size: 35px;
            line-height: 40px;
        }

        @media #{$xs} {
            font-size: 30px;
            line-height: 35px;

            br {
                display: none;
            }
        }

        span {
            font-style: italic;
            font-weight: 300;
        }
    }

    &__btn {
        .services {
            &__btn {
                width: 84px;
                height: 84px;
                display: inline-flex;
                align-items: center;
                border-radius: 500px;
                justify-content: center;
                border: 1px solid #D9D9D91A;
                transition: all 0.3s ease-in-out;

                @media #{$md,$xs} {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 65px;
    }

    &__dec {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 35px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media #{$md,$sm,$xs} {
            margin: 25px 0;

            br {
                display: none;
            }
        }
    }
}






// services-2 -----------------

.services-section-2 {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 65px;

        .section-title {
            &__wrapper {
                margin-bottom: 0;
            }
        }

        &__content {
            .services-section-2 {
                &__dec {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 35px;
                    color: var(--rr-text-body);
                    font-family: var(--rr-ff-body);

                    @media #{$md,$sm,$xs} {
                        margin-bottom: 20px;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__wrapper {
        margin: 0 40px;
        overflow: hidden;

        @media #{$xl,$lg,$md,$sm,$xs} {
            margin: 0 20px;
        }
    }

    &__item {
        min-width: 455px;
        padding: 70px 60px;
        position: relative;
        border: 1px solid rgb(255 255 255 / 5%);
        transition: all 7s linear;

        @media #{$sm} {
            min-width: 350px;
            padding: 30px 20px;
        }

        @media #{$xs} {
            min-width: 280px;
            padding: 30px 20px;
        }

        &:not(:first-child) {
            border-left: none;
        }

        // &:last-child{
        //     margin-right: 50px;
        // }

        &:hover {
            .services-section-2 {
                &__btn {
                    opacity: 1;
                    top: 80px;
                    visibility: visible;
                }
            }
        }
    }

    &__number {
        span {
            font-weight: 600;
            font-size: 100px;
            line-height: 1;
            color: transparent;
            -webkit-text-stroke: 1px #474747;
            font-family: var(--rr-ff-heading);
        }
    }

    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        margin-top: 85px;
        margin-bottom: 95px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$xs} {
            margin-top: 40px;
            margin-bottom: 45px;
        }

        a:hover {
            color: var(--rr-theme-primary-2);
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 0;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

    }

    .panels-container {
        width: fit-content;
    }

    &__btn {
        position: absolute;
        top: 100px;
        right: 60px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
}




// services-3 ------------------------

.services-section-3 {
    background-color: var(--rr-body-primary-2);

    &__title {
        font-weight: 500;
        font-size: 65px;
        line-height: 70px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$lg,$xs} {
            font-size: 40px;
            line-height: 50px;
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 40px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media #{$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__capsule {
        &__wrapper {
            position: relative;
            overflow: hidden;
            pointer-events: none;
            width: 325px;
            height: 650px;
            margin-top: -500px;

            @media #{$lg} {
                width: 250px;
            }

            @media #{$md,$sm,$xs} {
                margin: 0 auto;
                margin-top: -500px;
                margin-bottom: 30px;
                overflow: hidden;
            }

            @media #{$xs} {
                width: 310px;
            }
        }

        &__item {
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            border-radius: 100px;
            padding: 2px 16.3px;
            border: 1px solid #252525;
            color: var(--rr-text-body-2);
            @include transform(translate(-50%, -50%) rotate(0.01rad));

            &__wrapper {
                p {
                    position: absolute;
                    display: inline-block;
                    margin-bottom: 0;
                    left: 0;
                    top: 0;
                    user-select: none;
                    pointer-events: auto;
                    transition: none;
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: start;
        justify-content: space-between;
        border-bottom: 1px solid #252525;
        padding-bottom: 42px;
        padding-top: 44px;
        overflow: hidden;

        @media #{$md,$sm,$xs} {
            display: block;
            text-align: center;
        }

        &:first-of-type {
            border-top: 1px solid #252525;
        }
    }

    &__bottom {
        text-align: center;
        margin-top: 75px;

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 35px;
            color: var(--rr-text-body-2);
            font-family: var(--rr-ff-body);

            @media #{$md,$sm,$xs} {
                br {
                    display: none;
                }
            }
        }

        .rr-arrow__btn {
            &:hover {
                color: var(--rr-theme-primary-3);

                &::before {
                    background-color: var(--rr-theme-primary-3);
                }

                &::after {
                    background-color: var(--rr-theme-primary-3);
                }

                svg [fill="white"] {
                    fill: var(--rr-theme-primary-3);
                }
            }
        }
    }
}