@use "../../utils" as *;



.services-section {
    background: #161616;

    @media #{$xs} {
        padding-top: 0;
    }

    .section-title {
        &__wrapper {
            margin-bottom: 0;
        }
    }

    &__item {
        display: flex;
        cursor: pointer;
        padding: 45px 0;
        align-items: center;
        padding-bottom: 47.5px;
        justify-content: space-between;
        transition: color 0.3s ease-in-out;
        border-bottom: 1px solid rgb(217 217 217 / 10%);

        @media #{$lg,$md} {
            padding: 35px 0;
            padding-bottom: 40px;
        }

        &:first-of-type {
            border-top: 1px solid rgb(217 217 217 / 10%);
        }

        &.active {
            .services-section {
                &__title {
                    a {
                        color: var(--rr-theme-primary);
                    }
                }

                &__btn {
                    .services {
                        &__btn {
                            background: var(--rr-theme-primary);
                            border-color: var(--rr-theme-primary);

                            svg [fill="#C0C0C0"] {
                                fill: #2E2828;
                            }
                        }
                    }
                }
            }
        }
    }

    &__thumb {
        max-width: 554px;
        max-height: 735px;
        overflow: hidden;
        position: relative;

        @media #{$sm,$xs} {
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 30px;
        }

        .service-image {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            opacity: 0;
            transition: all 0.8s;
            transform: scale(0);
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
            }

            &.active {
                position: relative;
                opacity: 1;
                z-index: 1;
                transition: opacity 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
                transform: scale(1);
            }
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        line-height: 45px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$lg,$md} {
            font-size: 35px;
            line-height: 40px;
        }

        @media #{$xs} {
            font-size: 30px;
            line-height: 35px;

            br {
                display: none;
            }
        }

        span {
            font-style: italic;
            font-weight: 300;
        }
    }

    &__btn {
        .services {
            &__btn {
                width: 84px;
                height: 84px;
                display: inline-flex;
                align-items: center;
                border-radius: 500px;
                justify-content: center;
                border: 1px solid #D9D9D91A;
                transition: all 0.3s ease-in-out;

                @media #{$md,$xs} {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 65px;
    }

    &__dec {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 35px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media #{$md,$sm,$xs} {
            margin: 25px 0;

            br {
                display: none;
            }
        }
    }
}


// services-2 -----------------
.services-section-2 {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 65px;

        .section-title {
            &__wrapper {
                margin-bottom: 0;
            }
        }

        &__content {
            .services-section-2 {
                &__dec {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 35px;
                    color: var(--rr-text-body);
                    font-family: var(--rr-ff-body);

                    @media #{$md,$sm,$xs} {
                        margin-bottom: 20px;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__wrapper {
        margin: 0 40px;
        overflow: hidden;

        @media #{$xl,$lg,$md,$sm,$xs} {
            margin: 0 20px;
        }
    }

    &__item {
        z-index: 1;
        padding: 50px;
        min-width: 455px;
        position: relative;
        transition: all 7s linear;
        border: 1px solid rgb(255 255 255 / 5%);

        @media #{$sm} {
            padding: 30px 20px;
        }

        @media #{$xs} {
            padding: 30px 20px;
        }

        @media #{$md,$sm,$xs} {
            min-width: 100%;
        }

        &:not(:first-child) {
            border-left: none;

            @media #{$md,$sm,$xs} {
                border: 1px solid rgb(255 255 255 / 5%);
            }
        }

        &:hover {
            .services-section-2 {
                &__btn {
                    opacity: 1;
                    top: 80px;
                    visibility: visible;
                }
            }
        }
    }

    &__number {
        span {
            font-weight: 600;
            font-size: 100px;
            line-height: 1;
            color: transparent;
            -webkit-text-stroke: 1px #474747;
            font-family: var(--rr-ff-heading);
        }
    }

    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$md,$sm,$xs} {
            margin-top: 25px;
            margin-bottom: 25px;

            br {
                display: none;
            }
        }

        a:hover {
            color: var(--rr-theme-primary-2);
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 0;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);

    }

    .panels-container {
        width: fit-content;

        @media #{$md,$sm,$xs} {
            gap: 30px;
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
        }

        @media #{$sm,$xs} {
            grid-template-columns: repeat(1, 1fr);
        }

    }

    &__btn {
        position: absolute;
        top: 100px;
        right: 60px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
}



// services-3 ------------------------
.services-section-3 {
    background-color: var(--rr-body-primary-2);

    &__title {
        font-weight: 500;
        font-size: 65px;
        line-height: 70px;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading);

        @media #{$lg,$xs} {
            font-size: 40px;
            line-height: 50px;
        }
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 40px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media #{$sm,$xs} {
            br {
                display: none;
            }
        }
    }

    &__capsule {
        &__wrapper {
            display: none;
            position: relative;
            overflow: hidden;
            pointer-events: none;
            width: 325px;
            height: 650px;
            margin-top: -500px;

            @media #{$lg} {
                width: 250px;
            }

            @media #{$md,$sm,$xs} {
                margin: 0 auto;
                margin-top: -500px;
                margin-bottom: 30px;
                overflow: hidden;
            }

            @media #{$xs} {
                width: 310px;
            }
        }

        &__item {
            display: inline-block;
            font-size: 15px;
            font-weight: 500;
            border-radius: 100px;
            padding: 2px 16.3px;
            border: 1px solid #252525;
            color: var(--rr-text-body-2);
            @include transform(translate(-50%, -50%) rotate(0.01rad));

            &__wrapper {
                p {
                    position: absolute;
                    display: inline-block;
                    margin-bottom: 0;
                    left: 0;
                    top: 0;
                    user-select: none;
                    pointer-events: auto;
                    transition: none;
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: start;
        justify-content: space-between;
        border-bottom: 1px solid #252525;
        padding-bottom: 42px;
        padding-top: 44px;
        overflow: hidden;

        @media #{$md,$sm,$xs} {
            display: block;
            text-align: center;
        }

        &:first-of-type {
            border-top: 1px solid #252525;
        }
    }

    &__bottom {
        text-align: center;
        margin-top: 75px;

        @media #{$md,$sm,$xs} {
           margin-top: 30px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 35px;
            color: var(--rr-text-body-2);
            font-family: var(--rr-ff-body);

            @media #{$md,$sm,$xs} {
                br {
                    display: none;
                }
            }
        }

        .rr-arrow__btn {
            &:hover {
                color: var(--rr-theme-primary-3);

                &::before {
                    background-color: var(--rr-theme-primary-3);
                }

                &::after {
                    background-color: var(--rr-theme-primary-3);
                }

                svg [fill="white"] {
                    fill: var(--rr-theme-primary-3);
                }
            }
        }
    }
}



// service section 4 ===========
.black-bg-50 {
    background-color: rgb(13, 13, 13);
}

.service-section-4 {
    z-index: 91;
    position: relative;

    @media #{$xl,$lg,$md,$sm,$xs} {
        overflow: hidden;
    }

    &.section-space-bottom-180 {
        @media #{$xl} {
            padding-bottom: 0;
        }
    }

    &__item__wrapper {
        .rr-hover-reveal-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 487px;
            height: 660px;
            opacity: 0;
            margin: -150px 0 0 -150px;
            overflow: hidden;
            pointer-events: none;
            z-index: 999;
            border-radius: 5px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: opacity 0.3s,
                transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1),
                -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        &:hover {
            .rr-hover-reveal-bg {
                opacity: 1;
                visibility: visible;

                @media #{$md} {
                    width: 50%;
                    height: 450px;
                }

                @media #{$sm} {
                    width: 50%;
                    height: 400px;
                }

                @media #{$xs} {
                    width: 80%;
                    height: 300px;
                }
            }
        }
    }

    &__top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 40px;
        justify-content: space-between;
        gap: 30px;

        @media #{$sm} {
            padding-bottom: 80px;
        }

        @media #{$xs} {
            padding-bottom: 30px;
        }
    }

    &__caption {
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
    }

    &__subtitle {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
        margin-left: -80px;

        @media #{$xs} {
            margin-left: 0px;
        }

        span {
            color: var(--rr-color-white);
        }
    }

    &__item {
        display: flex;
        padding: 78px 0 55px 0;
        margin-top: -1px;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        transition: all .3s ease-in-out;

        &:hover {
            .service-section-4__title {
                color: var(--rr-color-white);
            }

            .service-section-4__number {
                color: var(--rr-color-white);
            }

            .service-section-4__btn {
                span {
                    color: var(--rr-color-white);

                    &::after {
                        width: 0%;
                        color: var(--rr-color-white);
                    }
                }
            }

            border-bottom: 1px solid rgb(255, 255, 255);
        }

        @media #{$sm,$xs} {
            flex-wrap: wrap;
            padding: 40px 0;
        }
    }

    &__title {
        font-size: 80px;
        font-weight: 400;
        line-height: 1;
        max-width: 560px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-heading-2);

        @media #{$lg} {
            font-size: 60px;
            max-width: 480px;
        }

        @media #{$md} {
            font-size: 45px;
            max-width: 300px;
        }

        @media #{$xs} {
            font-size: 50px;
            max-width: 300px;
        }

        @media #{$sm} {
            font-size: 40px;
        }

        @media #{$xs} {
            font-size: 40px;
        }

        @media #{$xxs} {
            font-size: 30px;
        }
    }

    &__descirption {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        max-width: 344px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
        margin-top: -50px;

        @media #{$sm,$xs} {
            margin-top: 0px;
        }
    }
}



// service-section-5 -------------------
.service-5__space-top {
    padding-top: 95px;

    @media #{$lg} {
        padding-top: 67px;
    }

    @media #{$md} {
        padding-top: 60px;
    }

    @media #{$sm} {
        padding-top: 50px;
    }

    @media #{$xs} {
        padding-top: 22px;
    }
}

.secvice-5__bg {
    background-color: rgba(255, 255, 255, 0.05);
}

.service-section-5 {
    &__section_title {
        transform: translateY(-125px);

        @media #{$lg} {
            transform: translateY(-90px);
        }

        @media #{$md} {
            transform: translateY(-76px);
        }

        @media #{$sm} {
            transform: translateY(-60px);
        }

        @media #{$xs} {
            transform: translateY(-30px);
        }
    }

    &__title {
        font-weight: 400;
        font-size: 220px;
        line-height: 1;
        margin-bottom: -40px;
        margin-right: -100%;
        text-transform: uppercase;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);

        @media #{$lg} {
            font-size: 160px;
            margin-bottom: -8px;
        }

        @media #{$md} {
            font-size: 120px;
            margin-bottom: 0px;
        }

        @media #{$sm} {
            font-size: 80px;
            margin-bottom: 0px;
        }

        @media #{$xs} {
            font-size: 50px;
            margin-bottom: 10px;
        }
    }

    &__item {
        max-width: 614px;
        border-radius: 5px;
        padding: 40px 30px;
        padding-bottom: 30px;
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, 0.05);

        @media #{$sm} {
            margin: 0 auto;
        }

        @media #{$xs} {
            padding: 20px;
        }
    }

    &__active {
        margin-left: -320px;

        @media #{$xxl,$xl,$lg,$md,$sm,$xs} {
            margin-left: 0;
        }

        .swiper-slide-active {
            .service-section-5 {
                &__item {
                    transition: all 0.3s ease-in-out;
                    border-color: var(--rr-theme-primary-5);
                    background-color: var(--rr-theme-primary-5);
                }

                &__arrow {
                    background-color: rgb(46, 40, 40);
                }

                &__dec {
                    color: var(--rr-common-white);
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 100px;

        @media #{$md} {
            margin-bottom: 30px;
        }

        @media #{$xs} {
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
    }

    &__item {
        &__title {
            font-weight: 400;
            font-size: 40px;
            line-height: 50px;
            text-transform: uppercase;
            transform: translateY(-8px);
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading-3);

            @media #{$xs} {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    &__arrow {
        width: 69px;
        height: 69px;
        font-size: 13px;
        align-items: center;
        border-radius: 500px;
        display: inline-flex;
        justify-content: center;
        transform: rotate(-45deg);
        color: var(--rr-common-white);
        background: rgb(45, 49, 55);
    }

    &__dec {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media (min-width: 0px) and (max-width: 1800px) {
            br {
                display: none;
            }
        }
    }

    &__btn {
        &__link {
            font-weight: 400;
            font-size: 18px;
            line-height: 1;
            margin-top: 50px;
            border-radius: 500px;
            display: inline-block;
            padding: 17.5px 28.9px;
            color: var(--rr-ff-body);
            font-family: var(--rr-ff-body);
            border: 1px solid rgba(255, 255, 255, 0.05);

            @media #{$xs} {
                font-size: 16px;
                line-height: 1.2;
            }

            a {
                margin-left: 35px;
                background: linear-gradient(var(--rr-theme-primary-5) 0%, var(--rr-theme-primary-5) 100%);
                background-size: 100% 1px;
                background-repeat: no-repeat;
                background-position: left 90%;
                transition: all 0.3s ease-in-out;
                color: var(--rr-theme-primary-5);

                @media #{$xs} {
                    margin-left: 0;
                }

                &:hover {
                    background-size: 0% 1px;
                }
            }
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        column-gap: 15px;
        justify-content: center;
        margin-top: 80px;

        @media #{$md,$sm} {
            margin-top: 50px;
        }

        @media #{$xs} {
            margin-top: 30px;
        }

        .swiper-pagination-bullet {
            width: 9px;
            height: 11px;
            border-radius: 0;
            opacity: 1;
            margin: 0 !important;
            display: inline-block;
            background-color: rgb(38, 41, 48);

            &.swiper-pagination-bullet-active {
                background-color: var(--rr-common-white);
            }
        }
    }
}