@use "../../utils" as *;



// testimonial-section 1----------
.testimonial-section {
    .section-title {
        &__wrapper {
            margin-bottom: 0;
        }
    }

    &__dec {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin-top: 20px;
        margin-bottom: 40px;
        color: var(--rr-text-body);
        font-family: var(--rr-ff-body);
    }

    &__review {
        display: inline-flex;
        align-items: start;
        column-gap: 30px;
        flex-wrap: wrap;
        padding: 15px 32.1px;
        border-radius: 10px;
        border: 1px solid rgb(217 217 217 / 10%);

        @media #{$xs} {
            column-gap: 20px;
            padding: 15px 25px;
        }

        &__text {
            line-height: 1;

            .title {
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                margin-bottom: 5px;
                display: inline-block;
                color: var(--rr-text-body);
                font-family: var(--rr-ff-body);
            }

            .icon {
                line-height: 1;

                img {
                    width: inherit;
                }
            }
        }

        &__rating {
            span {
                font-size: 16px;
                font-weight: 400;
                line-height: 1;
                color: var(--rr-text-body);
                font-family: var(--rr-ff-body);
            }

            .rating {
                display: flex;
                align-items: center;
                column-gap: 3px;

                i {
                    font-size: 13px;
                    color: #FFCD4D;
                }

                span {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1;
                    margin-left: 5px;
                    color: var(--rr-common-white);
                    font-family: var(--rr-ff-body);
                }
            }
        }
    }

    &__slide {
        &__wrapper {
            padding-left: 125px;
            margin-left: -15px;
            border-left: 1px solid rgb(217 217 217 / 10%);

            @media #{$lg} {
                padding-left: 55px;
                margin-left: 0px;
            }

            @media #{$md,$sm,$xs} {
                padding-left: 0px;
                margin-left: 0px;
                border-left: none;
                margin-top: 30px;
            }
        }

        &__item {
            .dec {
                font-size: 26px;
                font-weight: 400;
                line-height: 50px;
                margin-top: 52px;
                margin-bottom: 50px;
                text-transform: uppercase;
                color: var(--rr-common-white);
                font-family: var(--rr-ff-body);

                @media #{$sm,$xs} {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                @media #{$xs} {
                    font-size: 17px;
                    line-height: 31px;
                }
            }
        }
    }

    &__author {
        display: flex;
        align-items: center;
        column-gap: 30px;
        flex-wrap: wrap;
        margin-top: 34px;

        @media #{$xs} {
            column-gap: 15px;
        }

        &__sign {
            img {
                width: inherit;
            }
        }

        &__thumb {
            width: 68px;
            height: 68px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 500px;
            }
        }

        &__info {
            .name {
                font-size: 24px;
                font-weight: 500;
                line-height: 30px;
                color: var(--rr-common-white);
                font-family: var(--rr-ff-heading);
            }

            .position {
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                color: var(--rr-text-body);
                font-family: var(--rr-ff-body);

                @media #{$xs} {
                    font-size: 16px;
                }
            }
        }
    }
}



// testimonials section 4 ===========
.testimonials-section-4 {
    &__content {
        width: 100%;
        max-width: 800px;
        margin-top: 200px;
        margin-right: 216px;

        @media #{$xl,$lg,$md,$sm,$xs} {
            margin-right: 0;
        }

        @media #{$lg} {
            margin-top: 220px;
        }

        @media #{$sm,$xs} {
            margin-top: 30px;
        }
    }

    &__text {
        font-size: 40px;
        font-weight: 400;
        margin-top: 70px;
        line-height: 1.25;
        max-width: 787px;
        padding-bottom: 38px;
        text-transform: capitalize;
        color: var(--rr-color-white);
        font-family: var(--rr-ff-body);
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);

        @media #{$md} {
            margin-top: 30px;
            padding-bottom: 30px;
        }

        @media #{$xs,$sm} {
            font-size: 20px;
            margin-top: 20px;
            padding-bottom: 20px;
        }

    }

    &__author-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        margin-top: 37px;
        justify-content: space-between;

        @media #{$sm,$xs} {
            margin-top: 0px;
        }
    }

    &__name {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 300;
        font-family: var(--rr-ff-heading-2);
        color: var(--rr-color-white);
    }

    &__designation {
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);
    }

    &__thumb-1 {
        top: 0;
        right: 0;
        overflow: hidden;
        position: absolute;
        border-radius: 5px;

        @media #{$sm,$xs} {
            position: inherit;
            margin-top: 50px;
        }

        @media #{$xxs} {
            display: flex;
            justify-content: center;
        }

        @media #{$sm,$xs} {
            margin-bottom: 30px;
        }

        img {
            max-width: 100%;
            width: 100%;

        }
    }

    &__thumb-2 {
        left: 13%;
        bottom: -32px;
        overflow: hidden;
        position: absolute;
        border-radius: 5px;
        display: inline-block;

        @media #{$xxl,$xl,$lg} {
            left: 0;
        }

        @media #{$lg,$md} {
            top: -62px;
            left: 40%;
        }

        @media #{$sm,$xs} {
            position: inherit;
            left: 0;
            bottom: 0;
            display: block;
        }

        img {
            max-width: 100%;
            width: 100%;

        }
    }

    &__rating {
        left: 48%;
        top: 174px;
        position: absolute;
        transform: rotate(-27deg);

        @media #{$lg,$md,$sm,$xs} {
            display: none;
        }

        img {
            max-width: 100%;
        }
    }

    &__slider__active {
        .testimonials-section-4 {
            &__pagination {
                bottom: 0;
                width: 100%;
                z-index: 2;
                text-align: center;
                position: absolute;
                transform: translateX(350px);

                @media #{$md} {
                    transform: translateX(300px);
                }

                @media #{$sm} {
                    transform: translateX(150px);
                }

                @media #{$xs} {
                    transform: translateX(70px);
                }

                .swiper-pagination-bullet {
                    padding: 0px 10px;
                    opacity: 1;
                    color: var(--rr-text-body-2);

                    &.swiper-pagination-bullet-active {
                        background-color: transparent;
                        color: var(--rr-color-white);
                        opacity: 1;
                    }
                }

            }
        }
    }
}



// testimonial-section-5 ----------
.testimonial-section-5 {
    &__big-text {
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        text-align: center;

        @media #{$lg,$md} {
            top: 220px;
        }

        h2 {
            font-weight: 400;
            font-size: 369px;
            line-height: 0.72;
            margin-bottom: 0;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading-3);

            @media #{$xxxl} {
                font-size: 330px;
            }

            @media #{$xxl} {
                font-size: 280px;
            }

            @media #{$xl} {
                font-size: 240px;
            }

            @media #{$lg} {
                font-size: 200px;
            }

            @media #{$md} {
                font-size: 160px;
            }
        }
    }

    &__item {
        max-width: 430px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;
        background-color: rgb(31, 34, 39);
        border: 2px solid rgba(255, 255, 255, 0.1);

        @media #{$sm,$xs} {
            margin: 0 auto;
            margin-bottom: 30px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__panel-2 {
        top: 30px;
    }

    &__panel-3 {
        top: 60px;
    }

    &__contect {
        padding: 0 40px;
        padding-top: 43px;

        @media #{$xs} {
            padding: 20px;
        }
    }

    &__review {
        h3 {
            font-weight: 400;
            font-size: 40px;
            line-height: 1;
            margin-bottom: 4px;
            color: var(--rr-common-white);
            font-family: var(--rr-ff-heading-3);

            i {
                font-size: 17px;
                margin-left: 2px;
                color: var(--rr-theme-primary-5);
            }
        }

        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 1;
            color: var(--rr-text-body-2);
            font-family: var(--rr-ff-body);
        }
    }

    &__dec {
        font-weight: 500;
        font-style: italic;
        font-size: 24px;
        line-height: 35px;
        margin-top: 42px;
        margin-bottom: 50px;
        text-align: start;
        color: var(--rr-text-body-2);
        font-family: var(--rr-ff-body);

        @media #{$xs} {
            font-style: normal;
            font-size: 18px;
            line-height: 28px;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    &__author {
        display: flex;
        column-gap: 25px;
        margin-top: 80px;
        align-items: center;
        padding: 21px 40px;
        background: var(--rr-theme-primary-5);

        @media #{$xs} {
            column-gap: 15px;
            margin-top: 30px;
            padding: 10px 15px;
        }
    }

    &__thumb {
        width: 68px;
        height: 68px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 500px;
        }
    }

    &__name {
        font-weight: 400;
        font-size: 30px;
        line-height: 1;
        margin-bottom: 6px;
        text-transform: uppercase;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-heading-3);
    }

    &__position {
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        text-transform: uppercase;
        color: var(--rr-common-white);
        font-family: var(--rr-ff-body);
    }

    &__rating {
        display: inline-block;
        padding: 36px 39.8px;
        border-radius: 500px;
        margin-top: 140px;
        border: 1px solid rgb(255 255 255 / 10%);

        @media #{$sm} {
            margin-top: 40px;
        }

        @media #{$xs} {
            margin-top: 30px;
            padding: 20px 39.8px;
        }

        &__thunb {
            display: flex;
            align-items: center;

            @media #{$xs} {
                margin-bottom: 10px;
            }

            img {
                width: 49.84px;
                height: 49.84px;
                margin-left: -15px;
                border-radius: 500px;
                border: 1.5px solid var(--rr-common-white);

                &:first-of-type {
                    margin-left: 0;
                    position: relative;
                }

                &:nth-child(3) {
                    position: relative;
                }
            }
        }

        &__star {
            display: flex;
            align-items: center;
            column-gap: 3px;

            i {
                font-size: 15px;
                color: var(--rr-theme-primary-5);
            }

            span {
                font-weight: 400;
                font-size: 20px;
                line-height: 1;
                margin-left: 10px;
                color: var(--rr-common-white);
                font-family: var(--rr-ff-heading-3);
            }
        }

        &__author {
            display: flex;
            align-items: center;
            column-gap: 20px;

            @media #{$xs} {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        &__text {
            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 1;
                margin-top: 12px;
                color: var(--rr-text-body-2);
                font-family: var(--rr-ff-body);
            }
        }
    }
}